<div class="piece prop index">

<div class="pieceHeader">
  <%# 見出し置き場 %>
  <%= render :partial=>'piece_header' %>
</div>

<div class="pieceBody">

<div class="pieceBodyHeader">
  <%# メニュー 置き場 %>
</div>
<%= render :partial=>'piece_menu1' %>

<div class="pieceBodyBody">

<%= form_for :item, :url => "/gw/prop_other_limits/#{@item.id}", :html => {:method => :put} do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<div class="preserve">
<%= f.submit '保存' %>
</div>
<% end %><%# form%>

</div>
</div>

</div>
