<% # app/views/gw/public/schedules/show_one_mobile.html.erb
u = Site.user
uid = u.id
link_params = Gw.a_to_qs(["gid=#{params[:gid]}", "uid=#{uid}", "cgid=#{params[:cgid]}","dis=#{@dis}"])
%>
<%@items.each do |item|%>
<%
if params[:is_repeat] == "true"
delete_path = "#{Site.current_node.public_uri}#{item.id}/delete_repeat#{link_params}"
delete_str  = "繰返一括削除"
else
delete_path   = "#{Site.current_node.public_uri}#{item.id}/delete#{link_params}"
delete_str  = "削除"
end
#delete_path   = "#{Site.current_node.public_uri}#{@item[0].id}/delete"
link_params = Gw.a_to_qs(["gid=#{params[:gid]}", "uid=#{uid}", "cgid=#{params[:cgid]}","dis=#{@dis}"])

@back_todo = false
user_exist_check = Gw::ScheduleUser.user_exist_check(item.id, Site.user.id)
if nz(item.todo, 0).to_i == 0
  @back_todo = false
else
  if !item.schedule_todo.blank? && (user_exist_check || @is_gw_admin || item.creator_uid == Site.user.id )
    @back_todo = true
    @s_finished = nz(params[:s_finished],'1')
  end
end
@back_todo = false unless params[:topdate].blank?
if @back_todo == false
  if params[:gid].blank?
    link_str = %Q(/gw/schedules/#{item.id}/show_one#{link_params}&topdate=#{@topdate})
    cansel_path   = %Q(/gw/schedules/#{item.id}/show_one#{link_params}&topdate=#{@topdate})
  else
    link_str = %Q(/gw/schedules/#{item.id}/show_one#{link_params}&topdate=#{@topdate})
    cansel_path   = %Q(/gw/schedules/#{item.id}/show_one#{link_params}&topdate=#{@topdate})
  end
else
link_str = %Q(/gw/schedule_todos?s_finished=#{@s_finished})
end

destroy_confirm_s  = '削除してよろしいですか？'
destroy_confirm_s  = "この予定は、複数のユーザーが登録されています。ログインユーザーの予定だけでなく、この予定に関わるすべてのユーザーの予定が削除されます。<br />#{destroy_confirm_s}" if item.schedule_users.collect{|x|[x.class_id, x.uid]}.reject{|x| x[0] == 1 && x[1] == u.id }.length > 0
destroy_confirm_s += "<br />なお、繰り返し期間に属していても、すでに貸出・返却が行われている予定については削除されません。" if params[:is_repeat] == "true"
%>
<p class="mobileScheduleCurrent">スケジュール</p>
<p class="bgAsh"><%=delete_str%></p>
<p class="leftPad2">
<%=destroy_confirm_s%><br />
<%= link_to "[はい]" , delete_path %>　
<%=link_to "[いいえ]", cansel_path%><br />
</p>
<hr class="borderDash"/>

<p class="leftPad2"><%=link_to("&lt;戻る", link_str)%></p>
<%if @dis=="week"%>
<hr class="borderDash"/>
<p class="leftPad2">
<%=link_to("&lt;&lt;週表示へ", %Q(/gw/schedules/#{link_params}&st_date=#{@topdate}))%>
</p>
<%end%>
<%end%>