<%# app/views/system/admin/users/index.html %>
<%
limits = Gw.limit_select
path_index = "#{Site.request_path}"
options = {
  #'sort_link_options' => {
    #'sort_keys' => @sort_keys,
    #'path_index' => path_index,
    #'other_query_string' => @qs
  #},
  'table_name' => 'system_users',
  'link_to_edit'    => nil,
  'link_to_destroy' => nil,
  'link_to_show'    => 1
}
options['field_td_criteria'] = {
  '_groups' => Proc.new{|item|
#    x = item.groups.collect{|x| (x.level_no > 2 && x.code.to_i != 0 ? %Q(#{"%06d" % x.code}) : "#{x.code}") + %Q(#{x.name})}.join(' ')
    x = item.groups.collect{|x| ("#{x.code}") + %Q(#{x.name})}.join(' ')
    !x.blank? ? x : %Q(<span style="color: red;">** 所属未登録 **</span>)
  }
}
%>
<% form_tag '', :method => :get, :class => 'search' do %>
<table>
  <tr>
    <th>表示行数</th>
    <td><%= select_tag( 'limit' ,options_for_select(limits,@limits.to_i) ) %></td>
<!--    <th>検索条件 code/name/name_en/mail </th>  -->
    <th>検索条件 コード・名前・名前(英)・メールアドレス</th>
    <td><%= text_field_tag('s_keyword', params[:s_keyword] , :size => 50 ) %></td>
    <td class="submitters">
      <%= submit_tag '検索',     :name => :search %>
      <%= submit_tag 'リセット', :name => :reset %>
    </td>
  </tr>
</table>
<% end %>
<!-- end .search -->
<%= table_to_index2 @items,options %>
<br />
<%= paginate @items %>
