<%
unless defined?(day_flg)
  day_flg = true
end

is_public_show = Gw::Schedule.is_public_show(item.is_public)
dts = dt = item.st_at.to_datetime
dte = dt = item.ed_at.to_datetime
title_category = Gw.yaml_to_array_for_select('gw_schedules_title_categories', :include_blank=>1).to_a.rassoc(item.title_category_id.to_i) # 件名カテゴリ
inquire_to = "<tr><th>連絡先電話番号（内線）</th><td>#{item.inquire_to}</td></tr>"

st_at_s = dts.strftime('%Y-%m-%d') + ' （' + Gw.weekday(dts.wday) + '） '
ed_at_s = dte.strftime('%Y-%m-%d') + ' （' + Gw.weekday(dte.wday) + '） '
if item.allday.blank?
  st_at_s += dts.strftime('%H:%M')
  ed_at_s += dte.strftime('%H:%M')
elsif item.allday == 1
  st_at_s += "時間未定"
  ed_at_s += "時間未定"
elsif item.allday == 2
  st_at_s += "終日"
  ed_at_s += "終日"
end

prop_flg = false
prop_item = item.schedule_prop
if !prop_item.blank?
  prop_flg = true
end
%>

<table class="show">
  <% if day_flg == true  %>
  <tr>
    <th>開始日時</th><td><%= st_at_s %></td>
  </tr>
  <tr>
    <th>終了日時</th><td><%= ed_at_s %></td>
  </tr>
  <% end  %>
  <tr><th>件名（用務名等）</th><td><%= "【#{title_category[0]}】　" unless title_category.blank? %><%= item.title %></td></tr>
  <tr><th>場所</th><td><%= item.place %></td></tr>
  <tr><th>メモ</th><td><%= item.memo %></td></tr>
  <tr><th>作成者</th><td><%= item.creator_gname %>　<%= item.creator_uname %></td></tr>
  <tr><th>作成日</th><td><%= item.created_at.strftime('%Y-%m-%d %H:%M') %></td></tr>
  <tr><th>最終更新者</th><td><%= item.updater_gname %>　<%= item.updater_uname %></td></tr>
  <tr><th>最終更新日</th><td><%= item.updated_at.strftime('%Y-%m-%d %H:%M') %></td></tr>
  <%= inquire_to if prop_flg %>
  <tr><th>公開</th><td><%= is_public_show %></td></tr>
  <% if item.is_public == 2 %>
  <tr><th>公開所属</th><td><%= Gw.join([item.public_groups_display], '<br />') %></td></tr>
  <% end %>
</table>
