<%

  title_str = "#{Site.title}幹部在庁表示"
  # スケジュラーメニューのパラメーター
  d=Time.now
  @st_date=Time.now.strftime('%Y%m%%d')
  mode='only_executives'
  view_mode="normal"
  view_state = Gw::UserProperty.find(:first,
  :conditions=>["name = ? and type_name = ?","pref_executives","admin"])
  if view_state.blank?
    view_mode="normal"
    view_str = ""
  else
    view_mode="admin"
    view_str = view_state.options
  end

%>
<div id="contentBody">
<div class="piece schedulePiece assembly">
<div class="pieceHeader"><h2 class="pieceTitle">在庁表示</h2>
</div>
<div class="pieceBody">

<div class="pieceBodyHeader">
<%= render :partial => "gw/public/schedules/schedule_bt_box"  ,:locals=>{:d=>d , :mode=>mode} %>
<span class="presentTime assembly"><%= render :partial => "gw/public/pref_directors/display_time"   %></span>
</div><!--pieceBodyHeader-->

<div class="pieceBodyBody">
<%if view_mode == "normal"%>
<%=render(:partial => 'index' ,:locals=>{:d=>d , :mode=>mode} )%>
<%else%>
<%if @u_role==true%>
<%=render(:partial => 'index_prepare' ,:locals=>{:d=>d , :mode=>mode, :view_str => "現在工事中表示になっています。"} )%>
<%=render(:partial => 'index' ,:locals=>{:d=>d , :mode=>mode} )%>
<%else%>
<%=render(:partial => 'index_prepare' ,:locals=>{:d=>d , :mode=>mode, :view_str => view_str} )%>
<%end%>
<%end%>
</div><!--pieceBodyBody-->
</div><!--pieceBody-->
</div><!--schedulePiece-->
</div><!--contentBody-->
