<%# app/views/system/admin/group_updates/index.html %>
<%
#options={
  #'table_name'=>'system_group_updates',
  #:action=>'index' ,
  #:link_to_show=>1
#}
#options['field_td_criteria']={
  #'_parent_ou'=>Proc.new{|item|    item.parent_code+item.parent_name  } ,
  #'_group_ou' =>Proc.new{|item|    item.code+item.name  }
#}
-%>
<br />
<div class="showMenu">
  <%= link_to '登録'    ,new_system_group_update_path %>
  <%= link_to 'CSV登録' ,csv_system_group_updates_path %>
</div>
<br />
<div><span style="color:red;">赤字</span>所属は、変更区分が（名称変更・廃止・変更なし）で、存在しない所属か、引継先が設定されていない所属を示しています。</div>
<%#= table_to_index2 @items,options -%>
<% if @items.blank? -%>
  <div class="notice">表示対象がありません。</div>
<% else -%>
<table class="index">
<tr>
<th></th>
<th>上位所属</th>
<th>所属</th>
<th>変更区分</th>
<th>引継区分</th>
<th>引継元上位所属</th>
<th>引継元所属</th>
</tr>
<% @items.each do |item| -%>
<%
case item.state.to_i
when 1,2
    parent_ou = %Q(#{item.parent_code}#{item.parent_name})
else
  if item.parent_id.to_i==0
    parent_ou = %Q(<span style="color:red;">#{item.parent_code}#{item.parent_name}</span>)
  else
    parent_ou = %Q(#{item.parent_code}#{item.parent_name})
  end
end

case item.state
when '1'
  # 名称変更
  next_cond = "group_update_id=#{item.id}"
  item_next = System::GroupNext.find( :all , :conditions=>next_cond , :order=>"old_code" )
  if item_next.blank?
    group_ou = %Q(<span style="color:red;">#{item.code}#{item.name}</span>)
  else
    group_ou = %Q(#{item.code}#{item.name})
  end
when '2'
  # 新設
  group_ou = %Q(#{item.code}#{item.name})
when '3'
  # 廃止
  next_cond = "(operation='4' or operation='5' or operation='6') and old_code='#{item.code}' and old_name='#{item.name}'"
  item_next = System::GroupNext.find( :all , :conditions=>next_cond , :order=>"old_code" )
  if item_next.blank?
    group_ou = %Q(<span style="color:red;">#{item.code}#{item.name}</span>)
  else
    group_ou = %Q(#{item.code}#{item.name})
  end
  if item.level_no==2
    group_ou = %Q(#{item.code}#{item.name})
    group = System::Group.find(item.group_id)
    children = group.children
    children.each do |child|
      child_cond = "(operation='4' or operation='5' or operation='6') and old_code='#{child.code}' and old_name='#{child.name}'"
      child_next = System::GroupNext.find( :all , :conditions=>child_cond , :order=>"old_code" )
      if child_next.blank?
        group_ou = %Q(<span style="color:red;">#{item.code}#{item.name}</span>)
        break
      end
    end
  end
when '6'
  # 変更なし
  group_ou = %Q(#{item.code}#{item.name})
else
    group_ou = %Q(<span style="color:red;">#{item.code}#{item.name}</span>)
#  group_ou = %Q(#{item.code}#{item.name})
end
-%>
<%
old_groups = System::GroupNext.find(:all,:conditions=>"group_update_id=#{item.id}",:order=>"old_code")
#pp ['group_updates/index',item,old_groups]
-%>
<tr>
<td><%= link_to_show item.id %></td>
<td><%=  parent_ou %></td>
<td><%=  group_ou %></td>
<td><%= h System::GroupUpdate.state_show(item.state) %></td>
<td><%= h System::GroupNext.state_show(old_groups[0].operation)           unless old_groups.blank? -%></td>
<td><%= h old_groups[0].old_g.parent.code+old_groups[0].old_g.parent.name unless (old_groups.blank? or old_groups[0].old_g.blank? or old_groups[0].old_g.parent.blank?) -%></td>
<td><%= h old_groups[0].old_code+old_groups[0].old_name                   unless old_groups.blank? -%></td>
</tr>
  <% if old_groups.size > 1 -%>
    <% old_groups.each_with_index do |old_group,idx| next if idx==0 -%>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= h System::GroupNext.state_show(old_group.operation)       unless old_group.blank? %></td>
    <td><%= h old_group.old_g.parent.code+old_group.old_g.parent.name unless (old_group.blank? or old_group.old_g.blank? or old_group.old_g.parent.blank?) %></td>
    <td><%= h old_group.old_code+old_group.old_name                   unless old_group.blank? %></td>
    </tr>
    <% end -%>
  <% end -%>
<% end -%>
</table>
<% end -%>
<%#= paginate @items %>
