<%# app/views/system/admin/group_updates/show.html %>
<%
options = {
  'table_name'=>'system_group_updates',:action=>'show'
}
group_nexts = System::GroupNext.find(:all,:conditions=>"group_update_id=#{@item.id}",:order=>"old_code")
%>
<div class="showMenu">
<%=link_to_edit     @item.id  %>
<%=link_to_destroy  @item.id  %>
</div>
<%= table_to_show2 @item,options %>
<br />
<% unless @item.state == '3' %>
<div class="showMenu">
<%=link_to '引継設定' , system_group_nexts_path(@item.id)  %>
</div>
<% end %>
<br />
<% unless group_nexts.blank?  %>
<table class="index">
<tr>
<th></th>
<th>引継区分</th>
<th>引継元所属コード</th>
<th>引継元所属名</th>
<th>最終更新日</th>
</tr>
<% group_nexts.each do |group_next| %>
<tr>
<td><%= link_to '詳細' ,system_group_next_path(@item.id,group_next.id) %></td>
<td><%= h System::GroupNext.state_show(group_next.operation) %></td>
<td><%= h group_next.old_code %></td>
<td><%= h group_next.old_name %></td>
<td><%= h group_next.updated_at.strftime("%Y-%m-%d %H:%M")  %></td>
</tr>
<% end %>
</table>
<% end %>
