<%# app/views/system/public/role_names/show.html.erb %>
<%
t01 = '編集'
edit_path       = "#{Site.current_node.public_uri}#{@item.id}/edit"
t02 = '削除'
delete_path     = "#{Site.current_node.public_uri}#{@item.id}"
%>
<div class="piece AdminMessage">

<%= render :partial => 'header' %>
<div class="pieceBody">
<div class="editingBox">
 <span class="btEdit"><%= link_to t01 , url_for(edit_path) if @item.editable? %></span>
 <span class="btDestroy"><%= link_to t02 , url_for(delete_path),:confirm=>"削除して、よろしいですか？",:method=>:delete if @item.deletable?%></span>
</div>

<table class="show">
  <tr>
    <th>ステータス</th>
    <td><%=h ass{@item.state_label} %></td>
  </tr>
  <tr>
    <th>権限対象名</th>
    <td><%=h @item.display_name %></td>
  </tr>
  <tr>
    <th>権限コード</th>
    <td><%=h @item.priv_name %></td>
  </tr>
  <tr>
    <th>表示順</th>
    <td><%=h @item.sort_no %></td>
  </tr>
</table>
<!--戻るボタン-->
<div class="btReturn">
  <%=link_to '戻る', Gw.chop_with("#{Site.current_node.public_uri}",'/') %>
</div>
</div>
</div>
