<div class="contentPrefSection">

<div class="latest">
  <h3>新着情報</h3>
  <div class="feed">
    <%=link_to 'RSS', Site.current_node.public_uri + @item.name + '/index.rss', :class => 'feedRss' %>
    <%=link_to 'Atom', Site.current_node.public_uri + @item.name + '/index.atom', :class => 'feedAtom' %>
  </div>
  <ul>
    <% for doc in @docs %>
    <li><%=link_to h(doc.title), doc.public_uri %>
      （<%= doc.published_at.strftime('%-m月%-d日') %>）</li>
    <% end %>
  </ul>
</div>

<div class="attributes">
  <% for attr in @attributes %>
  <h3><%=h attr.title %></h3>
  <ul>
    <% for doc in @children_docs.call(attr) %>
    <li><%=link_to h(doc.title), doc.public_uri %>
      （<%= doc.published_at.strftime('%-m月%-d日') %>）</li>
    <% end %>
  </ul>
  <% end %>
</div>

</div>
