<%# app/views/gw/public/rssreder/edit_properties.html.erb %>
<%# piece ヘッダあるが、piece 動作は不許可 %>
<% hu = Gw::Model::UserProperty.get('feed') %>
<div id="bbs" class="piece">
<!--<div id="feed" class="piece">-->
<div class="pieceContainer">
<div class="pieceHeader">
<%= render :partial => 'gw/public/rssreader/header' %>
<%= show_notice %>
</div>
<div class="pieceBody">
<table class="index">
  <tr>
    <th style="width:  50px;  text-align: center;" nowrap="nowrap" colspan="2">操作</th>
    <th style="width:  30px;  text-align: right;" nowrap="nowrap">No</th>
    <th style=" text-align: left;" nowrap="nowrap">タイトル</th>
    <th style=" text-align: left;" nowrap="nowrap">URI</th>
    <th style=" text-align: left;" nowrap="nowrap">最大取得件数</th>
  </tr>

<% unless hu.nil?
  feeds = hu['feeds']
  for item in feeds %>
    <tr <%= cycle '', 'class="cycle"' %>>
      <td style="width:  50px;  text-align: center;" nowrap="nowrap"><%= link_to_edit item['id'] %></td>
      <td style="width:  50px;  text-align: center;" nowrap="nowrap"><%= link_to_destroy item['id'] %></td>
      <td style="width:  30px;  text-align: right;" nowrap="nowrap"><%=h item['index'] %></td>
      <td style="text-align: left;" nowrap="nowrap"><%=h item['title'] %></td>
      <td style="text-align: left;" nowrap="nowrap"><%=h item['uri'] %></td>
      <td style="text-align: left;" nowrap="nowrap"><%=h item['max'] %></td>
    </tr>
<% end
end %>
</table>
<%= paginate @items %><br />
</div>
<div class="pieceFooter" />
</div>
</div>
