<div class="piece headLine">
<div class="pieceBody">

<% @link_items.each_with_index do |item, idx| %>
  <div class="piece linkSetting">
    <h3 class="linkSetting"><%= link_to 'リンクの設定', "/gw/ind_edit_link_pieces?pid=#{item.id}" %></h3>
  </div>
  <% item.get_valid_children.each_with_index do |item3, idx3| %>
    <% if idx3 >= 1 %>
      <div class="borderbox2">
    <% end %>
    <div class="<%= item3.get_css_class %>">
      <h3 class="<%= item3.get_css_icon %>">
        <div class="repeat">
          <div title="<%= item3.get_tooltip %>"><%= item3.get_link_tag %></div>
        </div>
      </h3>
    </div>
    <% if idx3 == 0 %>
      <div class="borderbox2">
    <% end %>
    <ul id="headline-1">
    <% item3.get_valid_children.each_with_index do |item4, idx4| %>
      <li<%= " class='grayout'" if item4.disabled? || item3.disabled? %>>
        <div title="<%= item4.get_tooltip %>"><%= item4.get_link_tag %></div>
      </li>
    <% end %>
    </ul>
    </div>
  <% end %>
<% end %>

</div>
</div>