<div class="piece headLine">
<div class="pieceBody">

<% @items.each_with_index do |item, idx| %>
  <% next if item.state != "enabled" || item.published != "opened" %>
  <div class="piece linkSetting">
    <h3 class="linkSetting"><%= link_to 'リンクの設定', "/gw/ind_edit_link_pieces?pid=#{item.id}" %></h3>
  </div>
  <% item.get_child({:published => "opened"}).each_with_index do |item3, idx3| %>
    <% if item3.valid_display_auth? %>
      <% if idx3 >= 1 %>
        <div class="borderbox2">
      <% end %>
      <div class="<%= item3.get_css_class %>">
        <h3 class="<%= item3.get_css_icon %>">
          <div class="repeat">
            <%= item3.get_link_tag %>
          </div>
        </h3>
      </div>
      <% if idx3 == 0 %>
        <div class="borderbox2">
      <% end %>
      <ul id="headline-1">
      <% item3.get_child({:published => "opened"}).each_with_index do |item4, idx4| %>
        <% if item4.valid_display_auth? %>
          <li<%= " class=\"grayout\"" if item4.state == "disabled" || item3.state == "disabled" %>>
            <a<%= " target=\"_blank\"" if item4.class_external == 2 %> href="<%= '#' if item4.state == "disabled" || item3.state == "disabled"  %><%= item4.get_link_url %>"><%= item4.name %></a>
          </li>
        <% end %>
      <% end %>
      </ul>
      </div>
    <% end %>
  <% end %>
<% end %>

</div>
</div>