<%

return unless item.inquiry

return unless item.inquiry.visible?

%><table class="show">
  
  <tr>
    <th>連絡先</th>
    <td>
      <tt>課  　 　 　 　：</tt><%=h ass{item.inquiry.group.name} %>
      <br /><br style="line-height: 0.5;" />
      <tt>室・担当  　 　：</tt><%=h item.inquiry.charge %>
      <br /><br style="line-height: 0.5;" />
      <tt>電話番号 　 　：</tt><%=h item.inquiry.tel %>
      <br /><br style="line-height: 0.5;" />
      <tt>ファクシミリ　：</tt><%=h item.inquiry.fax %>
      <br /><br style="line-height: 0.5;" />
      <tt>メールアドレス：</tt><%=h item.inquiry.email %>
    </td>
  </tr>

</table>
