<style type="text/css">
.dep   {margin: 10px 0px 0px 0px; padding: 5px 5px; background-color: #bbb;}
.sec   {margin: 0px 0px 5px 0px; padding: 5px 5px; background-color: #ddd;}
.users {margin: 5px 5px; padding: 5px; border: 0px solid #ccc; font-size: 90%;}
.user  {display: inline-block; margin: 0px 0.2em 0px 0px;}
a.sync {display: inline-block; width: 100px; padding: 5px; border: 1px solid #777; background-color: #eee;}
</style>

<%# 照合：適用開始日における事前登録結果とのマッチング %>
<%# 同期：適用開始日における各項目値の反映　所属並び順・ユーザーの職名・担当 %>

<div style="text-align: center;">
  <%= link_to '照合処理', '?do=match', :class => 'sync', :confirm => '照合処理を開始します' %>
  <%= link_to '同期処理', '?do=synchro', :class => 'sync', :confirm => '同期処理を開始します'  if params[:do]=='before_synchro' %>
</div>
<div style="margin: 10px 0px; font-size: 90%; font-family: 'MS Gothic';">

  <% @groups.each do |d| %>
  <% next unless d.synchro_target? %>
  <div class="dep">
    <%= %Q(<span style="color:red;">) if d.match.to_s!='10' %>
    <%= d.code %>,
    <%= d.name %>
    <%= %Q(</span>) if d.match.to_s!='10' %>
  </div>
  
  <div class="secs">
    
    <% d.children.each do |s| %>
    <div class="sec">
      <%= %Q(<span style="color:red;">) if s.match.to_s!='10' %>
      <%= s.code %>,
      <%= s.name %>,
      <%= s.name_en %>,
      <%= s.email %>
      <%= %Q(</span>) if s.match.to_s!='10' %>
    </div>
    
    <div class="users">
      
      <% s.users.each do |u| %>
      <% next unless u.synchro_target? %>
      <span class="user">
        <%= u.name %>/ 
      </span>
      <% end %>
      
    </div>
    <% end %>
    
  </div>
  <% end %>
  
</div>
