<table class="index">
  
  <tr>
    <th style="width: 60px; text-align: center;">編集</th>
    <th style="width: 60px; text-align: right;">文書番号</th>
    <th style="width: ;">タイトル</th>
    <th style="width: 20%; text-align: center;">作成者</th>
    <th style="width: 60px; text-align: center;">ステータス</th>
<!--
    <th style="width: 60px; text-align: center;">Outside</th>
-->
    <th style="width: 60px; text-align: center;">Preview</th>
  </tr>
  
  <% for item in @items %>
  <tr <%= cycle '', 'class="cycle"' %>>
    <td style="text-align: center;"><%= link_to_edit item %></td>
    <td style="text-align: right;"><%=h item.id %></td>
    <td><%=h item.title %></td>
    <td><%=h item.creator.user.display_name if item.creator && item.creator.user %></td>
    <td style="text-align: center;"><%= link_to_status item %></td>
<!--
    <td style="text-align: center;"><%= item.status.name %></td>
    <td style="text-align: center;"><%= item.public_status %></td>
-->
    <td style="text-align: center;"><%= link_to_preview item %></td>
  </tr>
  <% end %>

</table>

<%= paginate @items %>
