<%
str_msg = ''
if @item.bg_setup == 0
  str_msg = "背景色を使用する"
else
  str_msg = "背景画像を使用する"
end
%>

<%= render :partial => 'header' %>

<div class="editingBox">
 <span class="btEdit"><%=link_to('編集', "#{@item.edit_path}")%></span>
 <span class="btDestroy"><%=link_to '削除', "#{@item.delete_path}", :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %></span>
</div>

<table class="show bbsText">
<tr>
<th style="width: 180px;">タイトルアイコン指定</th>
<td>
<%if @icon_item.blank?%>
 <%=required('指定なし') %>
<%else%>
 <%=image_tag(@icon_item.file_path, :size=>@icon_item.regulate_width(60), :alt=>@icon_item.memo) %>
 <%="#{@icon_item.memo}（#{@icon_item.width.to_s}x#{@icon_item.height.to_s}）"%>
<%end%>
</td>
</tr>
<tr>
<th>タイトルデザイン設定</th>
<td><%= str_msg %></td>
</tr>
<tr>
<th>タイトルフォント色指定</th>
<td><span style="color:<%=@item.font_color%>;">■■■</span></td>
</tr>
<%if @item.bg_setup == 0%>
  <tr>
  <th>タイトル背景色指定</th>
  <td style="background-color:<%=@item.css%>;"></td>
  </tr>
<%else%>
  <tr>
  <th>タイトル背景画像指定</th>
  <td>
  <%if @wallpaper_item.blank?%>
    <%=required('指定なし') %>
  <%else%>
    <%=image_tag(@wallpaper_item.file_path, :size=>@wallpaper_item.regulate_width(60), :alt=>@wallpaper_item.memo) %>
    <%="#{@wallpaper_item.memo}（#{@wallpaper_item.width.to_s}x#{@wallpaper_item.height.to_s}）"%>
  <%end%>
  </td>
  </tr>
<%end%>
</table>

<!--戻るボタン-->
<div class="btReturn">
  <%=link_to 'テーマ一覧へ戻る', "/gwboard/theme_registries" %>
</div>
