<div class="menu">
<p>CMS</p>
<%= link_to "サイト", cms_sites_path %>
<%= link_to "コンテンツ", cms_contents_path %>
<%= link_to "ディレクトリ", cms_nodes_path(0) %>
<%= link_to "テキスト", cms_texts_path %>
<%= link_to 'ルート', cms_routes_path(0) %>
<%= link_to 'サイトマップ', cms_maps_path(0) %>
<%= link_to "レイアウト", cms_layouts_path %>
<%= link_to "ピース", cms_pieces_path %>
</div>
