<table class="show">
<tr>
<th>公開</th>
<td><%=radio f, :state, @item.status_name, :class => 'state' %></td>
</tr>
<tr>
<th>並び順</th>
<td><%= f.text_field :sort_no, :class => 'num sort_no' %></td>
</tr>
<tr>
<th>フォルダ名称</th>
<td><%= f.text_field :name, :class => 'string name', :style => 'width: 200px;' %></td>
</tr>
</table>
<%=render(:partial => '/doclibrary/admin/adms/form')%>
<%=render :partial => 'doclibrary/public/docs/hidden_form' %>
