<%=render(:partial => 'header_help')%>
<%=render(:partial => 'folder_name') unless @title.form_name == 'form002'%>

<div class="contentMenu bbs">
<div class="editingBox">
<%if @is_editable%>
 <%unless @title.use_recognize%><%#承認機能使用しない%>
  <span class="btEdit"><%=link_to '編集', @item.edit_path(params) %></span>
 <%else%>
  <%if @item.category4_id == 1%>
   <span class="btAppEdit"><%=link_to '承認あり編集', @item.edit_path(params) %></span>
  <%else%>
   <span class="btEdit"><%=link_to '編集', @item.edit_path(params) %></span>
  <%end%>
 <%end%>
 <span class="btDestroy"><%=link_to '削除', @item.delete_path(params), :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete %></span>
<%end%>
<% if @is_recognize %>
 <span class="btRecognize"><%=link_to('承認', "#{@item.recognize_update_path}#{gwbbs_params_set}" )%></span>
<%end%>
<% if @is_publish %>
 <span class="btPublish"><%=link_to('公開', "#{@item.publish_update_path}#{gwbbs_params_set}" )%></span>
<%end%>
</div>
</div>

<table class="docCreator">
<tr>
<th style="width: 60px; text-align: left;">作成者</th>
<td style="width: 120px; text-align: left;"><%= @item.createdate %></td>
<td style="text-align: left;"><%= @item.createrdivision %></td>
<td style="width: 150px; text-align: left;"><%= @item.creater %></td>
</tr>
<tr>
<th style="width: 60px; text-align: left;">編集者</th>
<td style="width: 120px; text-align: left;"><%= @item.editdate %></td>
<td style="text-align: left;"><%= @item.editordivision %></td>
<td style="width: 150px; text-align: left;"><%= @item.editor %></td>
</tr>
</table>
<div class="doclibDocform">
<%=render(:partial => @title.doclib_form_name + 'show')%>
</div>
<%if attach_use_old%>
 <%=render(:partial => '/gwboard/public/docs/upload_index')%>
<%else%>
 <%=render(:partial => '/gwboard/public/docs/library_index')%>
<%end%>

<%if @title.use_recognize%>
<%=render(:partial => 'recognize_users') if @item.state == 'draft'%>
<%=render(:partial => 'recognize_users') if @item.state == 'recognize'%>
<%=render(:partial => 'recognize_users') if @item.state == 'recognized'%>
<%end%>
