<script type="text/javascript" src="/_common/js/prototype.js"></script>
<script type="text/javascript" src="/_common/js/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="/_common/js/yui/build/element/element-min.js"></script>
<script type="text/javascript" src="/_common/js/yui/build/button/button-min.js"></script>
<script type="text/javascript" src="/_common/js/yui/build/container/container-min.js"></script>
<script type="text/javascript" src="/_common/js/yui/build/calendar/calendar-min.js"></script>
<script type="text/javascript" src="/_common/js/popup_calendar/popup_calendar.js"></script>
<!-- 新規・編集 入力 -->
<%= f.error_messages %>

<table class="show">
  <tr>
     <th>年度</th>
     <td>
        <%= f.text_field :version  %>
        <%#= f.hidden_field :version , :value => Time.now.year %>
        <%#= Time.now.year %>
     </td>
  </tr>
  <tr>
     <th>適用開始日</th>
     <td>
       <%#= f.text_field :subnetmask1, :size=>10 ,'style'=>'width:100px;' %>
       <%= f.text_field :start_at  %>
       <button type="button" id="start_at_bt" onclick="showCalendar('start_at_bt','<%= "#{f.object_name}_start_at" %>')" class="show_cal_bt"></button>
     </td>
  </tr>
</table>

<%#= creator_view @item %>

<%= f.submit '保存' %>
