<div class="bbsDocList circular">
<div class="pieceHeader">
<h2 class="pieceTitle">回覧板</h2>
<div class="btsHeaderLeft">
<span class="btNew"><a href="/gwcircular/new">新規作成</a></span>
</div>

<div class="btsHeadeRight">
<%if @is_admin%>
 <span class="btSetAdd"><a href="/gwcircular/settings/">管理者</a></span>
<%else%>
 <span class="btSet"><a href="/gwcircular/settings/">設定</a></span>
<%end%>
</div><!--btsHeadeRight-->

</div><!--pieceHeader-->
<!--カラム用タグ-->
<div class="pieceBanner">
</div>
<div class="pieceBody">
<%=render :partial => 'header' %>
<%=render(:partial => 'index_unread') if params[:cond]=='unread' %>
<%=render(:partial => 'index_already') if params[:cond]=='already' %>
<%=render(:partial => 'index_owner') if params[:cond]=='owner' %>
<%=render(:partial => 'index_void') if params[:cond]=='void' %>
<%if @is_admin%>
 <%=render(:partial => 'index_admin') if params[:cond]=='admin' %>
<%end%>
<%=paginate @items %>
</div><!--pieceBody-->
</div><!--piece gwbbs-->
