<table class="index">
  
  <tr>
    <th style="width: 60px; text-align: center;">Show</th>
    <th style="width: 60px; text-align: right;">Id</th>
    <th style="width: ;">User</th>
    <th style="width: 35%;">Controller</th>
    <th style="width: 15%;">Action</th>
    <th style="width: 60px; text-align: right;">Item unid</th>
  </tr>
  
  <% for item in @items %>
  <tr <%= cycle '', 'class="cycle"' %>>
    <td style="text-align: center;"><%= link_to_show item %></td>
    <td style="text-align: right;"><%=h item.id %></td>
    <td><%= item.user.display_name if item.user %></td>
    <td><%=h item.controller %></td>
    <td><%=h item.action %></td>
    <td style="text-align: right;"><%= item.item_unid %></td>
  </tr>
  <% end %>

</table>

<%= paginate @items %>
