<%#*<p>Find me in app/views/gw/public/meeting_monitor_manager/_form.html.erb</p>%>
<%
%>
<%= required_head %>
<br />
  <table class="show">
    <tr>
      <th>種別</th>
      <td><%= @item.get_type_name -%><%= f.hidden_field :type_name -%></td>
    </tr>
    <tr>
      <th>表示行数<%= required -%></th>
      <td><%=  f.select( :limit, options_for_select(Gw.limit_select , @item.limit)) -%></td>
    </tr>
    <tr>
      <th>更新日時</th>
      <td><%= @item.updated_at.strftime('%Y-%m-%d %H:%M') -%></td>
    </tr>
  </table>

<div class="preserve">
<%= submit_for(f, {:caption => '保存'}) %>
</div>

<%= gw_js_include_full %>
<%= observe_field "item_manager_group_id", :function => "get_user();" %>
<%= observe_field "item_manager_user_id", :function => "get_user_addr();" %>
<script type="text/javascript">
//<![CDATA[
  var end_cnt = -1;
  var ed_str = '';
//ユーザー
  function get_user() {
    g_id = $("item_manager_group_id").value;
    document.body.style.cursor = 'wait';
    end_cnt = 0;
    new Ajax.Request("<%= Site.current_node.public_uri%>user_fields.csv?g_id=" + g_id, {method:'get', onComplete: function(x){
      $('item_manager_user_id').update(x.responseText);
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
        document.body.style.cursor = 'default';
      }
    }})
  }

  //メールアドレス
  function get_user_addr() {
    g_id = $("item_manager_user_id").value;
    document.body.style.cursor = 'wait';
    end_cnt = 0;
    new Ajax.Request("<%= Site.current_node.public_uri%>user_addr_fields.csv?g_id=" + g_id, {method:'get', onComplete: function(x){
      var text = x.responseText
      if (text == '') {
        $('item_manager_user_addr').value = '';
      }
      else {
        $('item_manager_user_addr').value = text;
      }
      end_cnt = end_cnt + 1;
      if (end_cnt == 1) {
        document.body.style.cursor = 'default';
      }
    }})
  }
  //]]>
</script>
