<div class="gwsub sb04">
  <div class="pieceHeader">
    <%= render(:partial => 'piece_header') -%>
  </div>
  <div class="pieceBanner">
    <%= render :partial => 'menu' %>
  </div>
  <div class="pieceBody">
    <div class="pieceBodyHeader">
      <div class="titleLine">
        <span class="title">編集</span>
        <span class="linkSpace">

        </span><!--linkSpace-->
      </div>
    </div>
    <div class="pieceBodyBody">
      <%= div_notice -%>
      <% form_for :item, :url => "#{Site.current_node.public_uri}#{@item.id}" ,:action=>:update, :html => {:id => "itemForm", :method => :put, :multipart => true} do |f| %>
      <%= f.error_messages %>
      <%= render :partial => 'form', :locals => {:f => f} %>
      <% end %>
    </div>
    <div class="btReturn">
      <%=link_to('詳細へ戻る', "#{Site.current_node.public_uri}#{@item.id}") %>
    </div>
  </div>
</div>
