<div class="gwsub sb04">
  <div class="pieceHeader">
    <%= render(:partial => 'piece_header') -%>
  </div>
  <div class="pieceBanner">
    <%= render :partial => 'menu' %>
  </div>
  <div class="pieceBody">
    <div class="pieceBodyHeader">
      <div class="titleLine">
        <span class="title">詳細</span>
        <span class="linkSpace">

        </span><!--linkSpace-->
      </div>
    </div>
    <div class="pieceBodyBody">
      <%= div_notice -%>
      <div class="editingBox">
        <div class="btEdit">
          <%= link_to('編集する', "#{@public_uri}#{@item.id}/edit") -%>
        </div>
        <div class="btDestroy">
          <%#= link_to_destroy @item.id, nil, :confirm=>"", :qs =>@qs -%>
        </div>
      </div>
      <table class="show">
        <tr>
          <th>種別</th>
          <td><%= @item.get_type_name  -%></td>
        </tr>
        <tr>
          <th>表示行数</th>
          <td><%= @item.limit -%> 行</td>
        </tr>
        <tr>
          <th>更新日</th>
          <td><%= @item.updated_at.strftime('%Y-%m-%d %H:%M') -%></td>
        </tr>
      </table>
    </div>
    <div class="btReturn">
      <%=link_to '戻る', Gw.chop_with("#{Site.current_node.public_uri}",'/') -%>
    </div>
  </div>
</div>
