<%

return '' if item.maps.size == 0

key_name = Site.mode == 'publish' ? 'public_key' : 'admin_key'
map_key  = Util::Config.load('map', key_name)

_map = item.find_map_by_name('1')
return '' if _map.map_lat == '' || _map.map_lng == ''

%><div class="maps">
  <h3>地図</h3>
  <script type="text/javascript" src="/_common/modules/pref/js/map.js"></script>
  <script type="text/javascript">PrefMap.init('<%= map_key %>');</script>
  <script type="text/javascript">
  //<![CDATA[
  var map = new PrefMap('map1', <%=h _map.map_lat %>, <%=h _map.map_lng %>, <%=h _map.map_zoom %>);
  <% if _map.is_point(1) %>map.addMarker(<%= _map.get_point_params(1) %>);<% end %>
  <% if _map.is_point(2) %>map.addMarker(<%= _map.get_point_params(2) %>);<% end %>
  <% if _map.is_point(3) %>map.addMarker(<%= _map.get_point_params(3) %>);<% end %>
  <% if _map.is_point(4) %>map.addMarker(<%= _map.get_point_params(4) %>);<% end %>
  <% if _map.is_point(5) %>map.addMarker(<%= _map.get_point_params(5) %>);<% end %>
  //]]>
  </script>
  <h4><%= _map.title %></h4>
  <div id="map1" class="map" style="width: 600px;height:300px"></div>
</div>
