<% form_tag '', :method => :get, :class => 'search' do %>

<%= text_field_tag('s_keyword', params[:s_keyword], :size => 10) %>
<%= submit_tag '検索', :name => :search %>

<!-- end .search --><% end %>

<%if params[:search] %>
<div>検索結果<span style="color: red;"><%= "#{@items.total_entries}" %></span>件</div>
<% end %>

<ul>
<% for item in @items %>
  <li>
    <%=link_to h(item.title), item.public_uri %>
    (<%=h item.published_at.strftime('%-m月%-d日') %>・<%= item.creator.group.name if item.creator.group %>)
  </li>
<% end %>
</ul>

<%= paginate @items %>
