<div class="contentPrefDoc">

<div class="header">
  <h2><%=h @item.title %></h2><% if false %>
   <span class="section"><%=h @item.creator.group.name if @item.creator.group %></span>
   <span class="separetor">/</span>
  <% end %><div class="publishedAt"><%=h @item.published_at ? @item.published_at.strftime('%Y年%-m月%-d日') : '0000-00-00' %></div>
</div>

<div class="body">
  <%= @item.body %>
</div>

<%= render :partial => 'cms/public/tool/files/view', :locals => {:item => @item} %>

<%= render :partial => 'system/public/maps/view', :locals => {:item => @item} %>

<% if @item.rel_docs.size > 0 %>
<div class="rels">
  <h3>関連記事</h3>
  <ul>
    <% for rel in @item.rel_docs
    %><li><%=link_to h(rel.rel_doc.title), rel.rel_doc.public_uri %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if @item.tags.size > 0 %>
<div class="tags">
  <h3>関連ワード</h3>
  <div>
    <% for tag in @item.tags
    %><%=link_to h(tag.word), Site.uri + 'tag/' + CGI::escape(tag.word) %>
    <% end %>
  </div>
</div>
<% end %>

<%= render :partial => 'system/public/inquiries/view', :locals => {:item => @item} %>

<div class="back">
  <%= link_to '<img src="" border="0" alt="Topに戻る"/>', url_for(:back) %>
</div>
<% if false %>
<div class="back"><%= link_to '戻る', url_for(:back) %></div>
<% end %>
<!-- end .contentPrefDoc --></div>
