<%= f.error_messages %>
<br /><%= required_head  %>
<table class="show">
<tr>
<th></th>
<td>入力の西暦年度を、４月１日付けで登録します</td>
</tr>
<tr>
<th><%= required %>西暦年度</th>
<td><%= f.text_field :fyear %></td>
</tr>
</table>
<br />
<%= f.submit '保存' %>
<br />
