<table class="show">
  <tr>
    <th>状態</th>
    <td><%=radio f, :state, @item.states, :class => 'state' %></td>
  </tr>
  <tr>
    <th>Q&Aタイトル</th>
    <td><%= f.text_field :title, :class => 'string title' %></td>
  </tr>
  <tr>
    <th>承認フロー使用</th>
    <td><%=radio f, :recognize, @item.recognize_states, :class => 'state' %></td>
  </tr>
  <tr>
    <th>分類使用区分</th>
    <td><%=radio f, :category, @item.category_states, :class => 'state' %></td>
  </tr>
  <tr>
    <th>大分類名設定</th>
    <td><%= f.text_field :category1_name, :class => 'string category1_name' %></td>
  </tr>
  <tr>
    <th>中分類名設定</th>
    <td><%= f.text_field :category2_name, :class => 'string category2_name' %></td>
  </tr>
  <tr>
    <th>小分類名設定</th>
    <td><%= f.text_field :category3_name, :class => 'string category3_name' %></td>
  </tr>
  <tr>
    <th>基本表示行数</th>
    <td><%= f.select :default_limit, @item.default_limit_line %></td>
  </tr>
</table>