<%
params[:st] = '0' if params[:st].blank?
str_tab1_class = 'tab'
str_tab2_class = 'tab'
str_tab3_class = 'tab'
str_tab4_class = 'tab'
str_tab1_class += ' current' if params[:st].to_s == '0' #所属(画像)
str_tab2_class += ' current' if params[:st].to_s == '1' #所属(アイコン)
str_tab3_class += ' current' if params[:st].to_s == '2' #全庁(画像)
str_tab4_class += ' current' if params[:st].to_s == '3' #全庁(アイコン)
%>
<div class="tabBox">
<table class="tabtable">
<tbody>
<tr>
<td class="spaceLeft"></td>
<td class="<%=str_tab1_class%>"><%=link_to "所属(画像)", "/gwboard/images?st=0" %></td>
<td class="spaceCenter"></td>
<td class="<%=str_tab2_class%>"><%=link_to "所属(アイコン)", "/gwboard/images?st=1" %></td>
<td class="spaceCenter"></td>
<td class="<%=str_tab3_class%>"><%=link_to "全庁(画像)", "/gwboard/images?st=2" %></td>
<td class="spaceCenter"></td>
<td class="<%=str_tab4_class%>"><%=link_to "全庁(アイコン)", "/gwboard/images?st=3" %></td>
<td class="spaceRight">
</td></tr>
</tbody>
</table>
</div><!--tabBox-->