<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>HTML取り込み</title>
<style type="text/css">
  body { background-color: #fff; font-size: 0.8em; }
  textarea { font-size: 90%; }
  form { margin: 10px 0px; }
  form#itemForm { width: 300px; padding: 10px; border: 1px solid #ccc; }
  input  { margin-top: 10px; width: 150px; }
</style>
<script type="text/javascript">
  function setHTML(elm_id) {
    window.opener.tinyMCE.toggleEditor(elm_id, false);
    window.opener.document.getElementById(elm_id).value = document.getElementById('content').value
    window.opener.tinyMCE.toggleEditor(elm_id, true);
    window.close();
  }
</script>
</head>
<body style="margin: 10px;">

<% if @content %>

<form>
  <textarea id="content" style="width: 98%; height: 400px;"><%=h @content %></textarea>
  <input type="button" value="取り込み" onclick="setHTML('<%= @elm %>');" />
  <input type="button" value="キャンセル" onclick="window.close();" />
</form>

<% else %>

<% form_for :item, :url => '', :html => {:multipart => true, :id => 'itemForm'} do |f| %>
<%= f.error_messages %>

HTMLファイル<br />
<%= f.file_field :file %><br />

<div style="margin: 10px 0px 0px 20px;">
  <%= submit_tag '送信', :style => "width: 100px;" %>
</div>

<% end %>

<% end %>

</body>
</html>
