<% # app/views/gw/public/holidays/_new.html.erb
%>



<div class="piece schedulePiece form">
  <div class="pieceHeader">
    <%= render :partial => '/gw/public/schedules/piece_header' %>
  </div>
  <div class="pieceBody">
    <div class="pieceBodyBody">
      <div class="titleLine">
        <span class="title">休日管理</span>
      </div>
      <%= show_notice %>
      <% form_for :item, :url => "/gw/holidays?category=#{@category_id}", :html => {:multipart => true, :id => 'itemForm'} do |f| %>
      <%= f.error_messages %>
      <%= render :partial => '/gw/public/holidays/form', :locals => {:f => f} %>
      <%= submit_for(f, {:caption => '保存'}) %>
      <% end %>
    </div>
  </div>
</div>