<table class="show">
  
  <tr>
    <th>状態</th>
    <td><%=radio f, :state, @item.states, :class => 'state' %></td>
  </tr><tr>
    <th>並び順</th>
    <td><%= f.text_field :sort_no, :class => 'num sortNo' %></td>
  </tr><tr>
    <th>タイトル</th>
    <td><%= f.text_field :title, :class => 'string title' %></td>
  </tr><tr>
    <th>内容</th>
    <td><%= f.text_area :body, :class => 'string body', :style => 'width: 600px; height: 100px;' %></td>
  </tr><tr>
    <th>URL</th>
    <td><%= f.text_field :url, :class => 'string url' %></td>
  </tr><tr>
    <th>リンク対象</th>
    <td><%=radio f, :target, @item.class.get_targets, :class => 'target' %></td>
  </tr>

</table>

<%#= recognizer_form f, @item %>

<%#= task_form f, @item %>
