<%
limits = Gw.limit_select
fyears = Gw::YearFiscalJp.select_dd_fyear_id('all')
%>
<% form_tag('', :method => :get, :class => 'search' , :name=>'frmSearch') do %>
<table>
<tr>
<td>表示行数</td><td><td><%= select_tag( 'limit',options_for_select( limits , @limit.to_i )  ) %></td>
<td>年度</td><td><%= select_tag( 'fyearselect',options_for_select( fyears ,@fyearselected.to_i ) ) %></td>
<th>検索</th><td><%= text_field_tag "s_keyword", params[:s_keyword] ,:size=>50 %></td>
<td class="submitters">
<%= submit_tag '検索',     :name => :search %>
<%= submit_tag 'リセット', :name => :reset  %>
</td>
</tr>
</table>
<% end %>
