<% limits = Gw.limit_select %>
<% _divisions = Gwsub.get_division_list('all') %>
<% form_tag('', :method => :get, :class => 'search', :name=>'frmSearch') do %>
<%= hidden_field_tag 'menu_type' ,@menu_type if @menu_type %>
<%= hidden_field_tag 'table_name' ,@table_name if @table_name %>
<table>
<tr>
<td>表示行数</td>
<td><%= select_tag( 'limit',options_for_select( limits , @limit.to_i ) ) %></td>
<% if @divisions %>
<td>機器区分</td>
<td><%= select_tag( 'divisions',options_for_select( _divisions , @divisions ) ) %></td>
<%end%>
<td>検索</td>
<td><%= text_field_tag "s_keyword", params[:s_keyword] ,:size=>40 %></td>
<td class="submitters">
<%= submit_tag '検索',     :name => :search %>
<%= submit_tag 'リセット', :name => :reset  %>
</td>
</tr>
</table>
<!-- end form -->
<%end%>
<% unless (params[:reset] || !params[:search] ) %>
<div class="hit">検索結果<span class="count"><%= "#{@items.total_entries}" %></span>件</div>
<% end %>
