<%= f.error_messages %>
<%= f.hidden_field :sort_no %>
<%= required_head %>
<br>
<table class="show">
  <tr>
    <th>状態</th>
    <td><%= radio f, :state, Gw::BlogPart.state_select_list, :class=>'state' %></td>
  </tr>
  <tr>
    <th>並び順</th>
    <td><%=h @item.sort_no %></td>
  </tr>
  <tr>
    <th>タイトル<%= required %></th>
    <td><%= f.text_field :title, :size=>80 %></td>
  </tr>
  <tr>
    <th>内容<%= required %></th>
    <td><%= f.text_area :body, :rows=>10, :cols=>100, :class=>'IMEoff' %></td>
  </tr>
</table>

<div class="preserve">
  <%= f.submit '保存' %>
</div>