<div class="piece AdminSetting">
<%= render :partial => 'header' %>
<div class="pieceBody">
<div class="editingBox">
  <%= render :partial => 'button_new' %>
  <%= render :partial => 'button_edit' %>
  <%= render :partial => 'button_destroy' %>
</div>
<%= render :partial => 'button_return' %>
<br>

<table class="show">
  <tr>
    <th class="state">状態</th>
    <td class="state"><%= @item.show_state %></td>
  </tr>
  <tr>
    <th class="sortNo">並び順</th>
    <td class="sortNo"><%=h @item.sort_no %></td>
  </tr>
  <tr>
    <th class="title">タイトル</th>
    <td class="title"><%=h @item.title %></td>
  </tr>
  <tr>
    <th class="body">内容</th>
    <td class="body"><%=h @item.body %></td>
  </tr>
  <tr>
    <th class="preview">プレビュー</th>
    <td class="preview"><%= @item.body %></td>
  </tr>
</table>

</div>
</div>
