<%
  if params[:state] == 'GROUP'
    folder_path = '/doclibrary/group_folders'
    strparam = "?title_id=#{params[:title_id]}&state=#{params[:state]}&grp=#{params[:grp]}&gcd=#{params[:gcd]}"
  else
    folder_path = '/doclibrary/folders'
    strparam = "?title_id=#{params[:title_id]}&state=#{params[:state]}&cat=#{params[:cat]}"
  end
%>
<div class="contentMenu bbs">
  <a class="" href='<%="/doclibrary/adms/new?title_id=#{params[:title_id]}"%>'>新規記事</a>
  <%=link_to "下書", gwbd_public_url_base + "&state=DRAFT" %>
  <%=link_to "承認待ち", gwbd_public_url_base + "&state=RECOGNIZE" %>
  <%=link_to "公開待ち", gwbd_public_url_base + "&state=PUBLISH" %>
  <%=link_to "全記事", gwbd_public_url_base + "&state=ALL" %>
  <%=link_to "【公開画面】", @title.docs_path %>
</div>
