<%

_upel = "document.getElementById('item_file')"
_nmel = "document.getElementById('item_name')"
_ttel = "document.getElementById('item_title')"
_chev = "#{_nmel}.value = #{_upel}.value.replace(/\\\\/g, '/').replace(/.*\\//, '').toLowerCase();"
_chev += "#{_ttel}.value = #{_upel}.value.replace(/\\\\/g, '/').replace(/.*\\//, '').toLowerCase();"

%><table class="show" style="margin-top:0px;">

  <tr>
    <th style="width: 160px;"><%=ja_name :file, @item %></th>
    <td><%= f.file_field :file, :style => 'width: 450px;', :size => 64, :onchange => _chev %></td>
  </tr><tr>
    <th style=""><%=ja_name :name, @item %><div class="note">※半角英数字のみ</div></th>
    <td><%= f.text_field :name, :class => 'string name', :style => 'width: 400px;' %></td>
  </tr><tr>
    <th style=""><%=ja_name :title, @item %><div class="note">※日本語でわかりやすく</div></th>
    <td><%= f.text_field :title, :class => 'string name', :style => 'width: 400px;' %>
      <span class="submitters" style="text-align: right; padding:5px;"><%= f.submit(submit_label) %></span>
    </td>
  </tr>

</table>

