<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>リンクチェック</title>
<style type="text/css">
  body { background-color: #fff; font-size: 0.8em; }
  p { margin: 10px 0px 0px 0px; padding: 10px 0px ;border-top: 1px solid #ccc; }
  textarea { font-size: 90%; }
  .resOk { color: #08f; font-weight: bold; font-family: verdana; }
  .resNg { color: #e00; font-weight: bold; font-family: verdana; }
</style>
</head>
<body style="margin: 10px;">

<% form_tag '', :id => 'formTool', :target => :blank do %>

<textarea id="item_body" name="item[body]" style="width: 98%; height: 100px;"
><%= params[:item][:body] if params[:item] %></textarea>

<% end %>

<p>■リンクチェック</p>

<div style="font-family: 'MS GOTHIC';">
  <% @urls.each do |url, res|%>
  <%= res == true ? '<span class="resOk">OK</span>' : '<span class="resNg">NG</span>' %>
  <%=h url %><br />
  <% end %>
</div>

<p>■ALT属性チェック</p>

<div style="font-family: 'MS GOTHIC';">
  <% @imgs.each do |img|; tag = img[0]; res = img[1] %>
  <%= res == true ? '<span class="resOk">OK</span>' : '<span class="resNg">NG</span>' %>
  <%=h tag %><br />
  <% end %>
</div>

</body>
</html>
