<table class="index">
<th style="width: 60px; text-align: left;">状態</th>
<th style="width: 160px; text-align: left;">所属名</th>
<th style="width: 60px; text-align: left;">区分別</th>
<th style="text-align: left;">事務の名称</th>
<th style="width: 120px; text-align: left;">最終更新日</th>
<% for item in @items%>
<tr>
 <td><%=link_to(item.ststus_name, "#{item.show_path}#{gwbbs_params_set}" )%></td>
 <td><%=link_to(item.section_name, "#{item.show_path}#{gwbbs_params_set}" )%></td>
 <td><%=link_to(gwbd_category_name(@d_categories,item.category1_id), "#{item.show_path}#{gwbbs_params_set}" )%></td>
 <td><%=link_to(item.title, "#{item.show_path}#{gwbbs_params_set}" )%></td>
 <td><%=link_to(item.latest_updated_at.strftime('%Y-%m-%d %H:%M').to_s, "#{item.show_path}#{gwbbs_params_set}" )%></td>
 </tr>
<%end%>
</table>
