<%

_input_destroy = Proc.new do |image|
  _name = f.object_name.to_s + "[_destroy_images][#{image.id}]"
  _val  = defined?(params[f.object_name][:_destroy_images][image.id.to_s]) ?
    params[f.object_name][:_destroy_images][image.id.to_s] : false
  _css  = 'margin-right: 3px; vertical-align: text-bottom; _margin-left: 0px; _vertical-align: baseline;'

  check_box_tag _name, 1, _val, :style => _css
end

_input_upload = Proc.new do |name|
  _name = f.object_name.to_s + "[_new_images][#{name}][upload]"
  _upid = f.object_name.to_s + "__new_images_#{name}_upload"
  _nmid = f.object_name.to_s + "__new_images_#{name}_name"
  _upel = "document.getElementById('#{_upid}')"
  _nmel = "document.getElementById('#{_nmid}')"
  _chev = "#{_nmel}.value = #{_upel}.value.replace(/\\\\/g, '/').replace(/.*\\//, '').toLowerCase();"
  
  file_field_tag _name, :class => 'file', :size => '80', :onchange => _chev
end

_input_name = Proc.new do |name|
  _name = f.object_name.to_s + "[_new_images][#{name}][name]"
  text_field_tag _name, '', :class => 'fileName'
end

_html_code = Proc.new do |name|
  _nmid = f.object_name.to_s + "__new_images_#{name}_name"
  _htid = f.object_name.to_s + "__new_images_#{name}_html"
  _nmel = "document.getElementById('#{_nmid}')"
  _htel = "document.getElementById('#{_htid}')"
  _src  = "#{_nmel}.value"
  _alt  = "#{_nmel}.value.replace(/\\.[^.]+$/i, '')"
  
  _code1 = "'&amp;lt;img src=\"images/' + #{_src} + '\" alt=\"' + #{_alt} + '\" /&amp;gt;'"
  _clev1 = "#{_htel}.style.display = 'block'; #{_htel}.innerHTML = #{_code1};"

  _code2 = "'&amp;lt;a href=\"images/' + #{_src} + '\"&amp;gt;' + #{_alt} + '&amp;lt;/a&amp;gt;'"
  _clev2 = "#{_htel}.style.display = 'block'; #{_htel}.innerHTML = #{_code2};"

  _code3 = "'&amp;lt;a href=\"images/' + #{_src} + '\"&amp;gt;&amp;lt;img src=\"images/' + #{_src} + '\" alt=\"' + #{_alt} + '\" /&amp;gt;&amp;lt;/a&amp;gt;'"
  _clev3 = "#{_htel}.style.display = 'block'; #{_htel}.innerHTML = #{_code3};"

  '*HTMLを作成（ ' +
    link_to('img', '#aa', :onclick => _clev1 + 'return false;') + ' / ' +
    link_to('a', '#aa', :onclick => _clev2 + 'return false;') + ' / ' +
    link_to('img&a', '#aa', :onclick => _clev3 + 'return false;') +
    ' ）*<br /><div id="' + _htid + '" style="display: none; margin: 6px 0px 0px; color: #800;"></div>'
end

%><table class="show">
  
  <tr>
    <th>貼り付け画像</th>
    <td>
      <% item.images.each_with_index do |_img, i| %>
      <%= _input_destroy.call(_img) %>削除 &nbsp;
      <%= link_to h(_img.name), _img.preview_uri, :target => :blank %>
      <hr />
      <% end %>
      
      <tt>アップロード：</tt><%= _input_upload.call(1) %><br />
      <tt>ファイル名　：</tt><%= _input_name.call(1) %> &nbsp;<%= _html_code.call(1) %>
      <hr />
      <tt>アップロード：</tt><%= _input_upload.call(2) %><br />
      <tt>ファイル名　：</tt><%= _input_name.call(2) %> &nbsp;<%= _html_code.call(2) %>
    </td>
  </tr>
  
</table>
