<div class="bbsDocList circular">
<div class="pieceHeader">
<h2 class="pieceTitle">回覧板</h2>

<div class="btsHeaderLeft">
<span class="btNew"><a href="/gwcircular/new">新規作成</a></span>
</div>

<div class="btsHeadeRight">
<%if @is_admin%>
 <span class="btSetAdd"><a href="/gwcircular/settings/">管理者</a></span>
<%else%>
 <span class="btSet"><a href="/gwcircular/settings/">設定</a></span>
<%end%>
</div><!--btsHeadeRight-->

</div><!--pieceHeader-->
<!--カラム用タグ-->
<div class="pieceBanner">
</div>
<div class="pieceBody">


<%= render :partial => 'header' %>

<% form_for :item, :url => @item.update_path ,:html => {:method=>:put , :multipart => true, :id => 'itemForm'} do |f| %>
 <%= f.error_messages %>

<div class="docsInnerBox">
<div class="bbsUserform">
<table class="bbsUserformBody">
<tr><td class="docTitle"><span><%=hbr(@parent.title)%></span></td></tr>
<tr><td class="spaceBottom"></td></tr>
<tr><td><%=@parent.body%></td></tr>
</table>
</div>
</div>

  <%= render :partial => 'form', :locals => {:f => f} %>

<div class="submitters">
  <input id="<%= f.object_name %>_submit" name="commit" onclick="document.getElementById('<%= f.object_name %>_state').value='already';" type="submit" value="返信・既読" />
  <input id="<%= f.object_name %>_state" name="<%= f.object_name %>[state]" type="hidden" value="" />
</div>

<% end %>

</div><!--pieceBody-->
</div><!--piece gwbbs-->
