<div class="bbsDocList circular">
<div class="pieceHeader">
<h2 class="pieceTitle">回覧板</h2>
<div class="btsHeadeRight">
<%if @is_admin%>
 <span class="btSetAdd"><a href="/gwcircular/settings/">管理者</a></span>
<%else%>
 <span class="btSet"><a href="/gwcircular/settings/">設定</a></span>
<%end%>
</div><!--btsHeadeRight-->
</div><!--pieceHeader-->
<!--カラム用タグ-->
<div class="pieceBanner">
<h3><%=@title.title%></h3>
<%=link_to("新規の回覧を作成","/gwcircular/new",:class=>"btNew")%>
<div class="helpBox">
</div>
</div>
<div class="pieceBody">
<%=render :partial => 'header' %>
<table class="index">
<tr class="headIndex">
<th class="state">状態</th>
<th class="docTitle">回覧件名</th>
<th style="width:120px;">回覧期限日時</th>
<th class="update">最終更新日</th>
</tr>
<%for item in @items%>
 <tr <%= cycle 'class="article"', 'class="article cycle"' %>>
 <td class="state"></td>
 <td class="docTitle"><%=link_to(item.title, item.show_path)%></td>
 <td class="update"><%=item.expiry_date.strftime('%Y-%m-%d %H:%M').to_s %></td>
 <td class="update"><%=item.latest_updated_at.strftime('%Y-%m-%d').to_s %></td>
 </tr>
<%end%>
</table>
<%=paginate @items %>
</div><!--pieceBody-->
</div><!--piece gwbbs-->
