<%# app/views/system/public/roles/index.html.erb %>
<%
if @role_id == '0'
  role_param =""
else
  role_param ="?role_id=#{@role_id}"
end

%>
<div class="piece AdminMessage">
<%= render :partial => 'header' %>
<div class="pieceBody">
<div class="editingBox">
  <span class="btNew"><%= link_to '新規作成', url_for(Site.current_node.public_uri+"new#{role_param}")%></span>
  <%if @is_dev%>
    <span class="docLink"><%= link_to '開発者権限設定', "/system/role_developers"%></span>
    <span class="docLink"><%= link_to '対象権限追加', "/system/priv_names"%></span>
    <span class="docLink"><%= link_to '機能名設定', "/system/role_names"%></span>
    <span class="docLink"><%= link_to '機能権限設定', "/system/role_name_privs"%></span>
  <%end%>
</div>
<%= render :partial => 'search' %>
<table class="index">
  <tbody>
    <tr>
      <th style="width: 60px;"></th>
      <th>機能名</th>
      <th style="width: 150px; text-align: center;">対象権限  </th>
      <th style="width: 60px; text-align: center;">優先順位</th>
      <th style="width: 60px; text-align: center;">種別</th>
      <th>ユーザ/グループ</th>
      <th style="width: 60px; text-align: center;">許可</th>
    </tr>
<% for item in @items %>
<tr <%= cycle '', 'class="cycle"' %>>
  <td style="text-align: center;"><%= link_to '詳細', Site.current_node.public_uri+item.id.to_s+role_param %></td>
  <td><%=h ass{item.role_name.display_name} %></td>
  <td style="text-align: center;"><%=h ass{item.priv_user.display_name} %></td>
  <td style="text-align: center;"><%=h item.idx %></td>
  <td style="text-align: center;"><%=h ass{item.class_id_label} %></td>
  <td><%=h ass{item.uid_label} %></td>
  <td style="text-align: center;"><%=h ass{item.priv_label}%></td>
</tr>
<% end %>
</tbody></table>

<br/>
<%= paginate @items %>
<br/>
</div>
</div>