<%
#limits = Gw.limit_select
    limits = [
#      [10,'10行'],[20,'20行'],[30,'30行'],[50,'50行'],[100,'100行'],[200,'200行']
#      ['すべて',0 ],
      ['10行' ,10 ],
      ['20行' ,20 ],
      ['30行' ,30 ],
      ['50行' ,50 ],
      ['100行',100],
#      ['200行',200],
      ['300行',300],
#      ['1,000行',1000],
#      ['10,000行',10000],
    ]

lv = System::GroupHistoryTemporary.new
lv.state      = 'enabled'
#lv.level_no   = @parent.level_no + 1
lv.level_no   = 2
#lv.parent_id  = @parent.id
lv.order 'code'
lvs = lv.find(:all).map{|x| [x.code+x.name , x.id]}
p_select = [['すべて',0]] + lvs
if @parent.level_no==1
  @p=0
else
  @p=@parent.id
end
%>
<% form_tag('', :method => :get, :class => 'search', :name=>'frmSearch') do %>
<table>
<tr>
<td>表示行数</td>
<td><%= select_tag( 'limit',options_for_select( limits , @limit.to_i ) ) %></td>
<td>上位所属</td>
<td><%= select_tag( 'p_id',options_for_select( p_select , @p.to_i ) ) %></td>
</tr>
<tr>
  <td></td><td></td>
<td>検索</td>
<td><%= text_field_tag "s_keyword", params[:s_keyword] ,:size=>40 %></td>
<td class="submitters">
<%= submit_tag '検索',     :name => :search %>
<%= submit_tag 'リセット', :name => :reset  %>
</td>
</tr>
</table>
<!-- end form -->
<%end%>
<!--
<%# unless (params[:reset] || !params[:search] ) %>
<%#*<div class="hit">検索結果<span class="count"><%= "#{@items.total_entries}" %></span>件</div>%>
<%# end %>
-->
