<%# app/views/system/admin/group_history_temporaries/index.html %>

<div class="indexTabs">
<span>グループ</span>
<%=link_to 'ユーザー', system_users_group_history_temporaries_path(@parent) %>
</div>
<%= render :partial => "search" %>
<br />
<% if @items.size < 1 %>
<div class="notice">表示対象がありません</div>
<% else %>
<table class="index">
  <tr>
    <th></th>
    <th>部局</th>
    <th>コード</th>
    <th>名称</th>
    <th>変更区分</th>
    <th>引継分類</th>
    <th>引継元コード</th>
    <th>引継元名称</th>
  </tr>
  <% @items.each do |item| %>
    <% if item.level_no==2 %><%# 下位の所属一覧を表示 %>
      <% System::GroupHistoryTemporary.children(item).each do |c| %>
      <%
        # 変更区分
          update1             = System::GroupUpdate.new
          update1.group_id    = c.id
          update1.order       'code'
          updates             = update1.find(:all)
          if updates.blank?
            update_str = nil
          else
            update_str = System::GroupUpdate.state_show(updates[0].state)
          end
        # 引継分類
          unless updates.blank?
            next1               = System::GroupNext.new
            next1.group_update_id  = updates[0].id
            #next1.old_group_id  = c.id
            next1.order         'old_code'
            nexts               = next1.find(:all)
            if nexts.blank?
              next_str = nil
            else
              next_str = System::GroupNext.state_show(nexts[0].operation)
            end
          end
      %>
        <tr <%= cycle '', 'class="cycle"' %> >
          <td><%= link_to_show c.id %></td>
          <td><%= c.parent.ou_name %></td>
          <td><%= c.code %></td>
          <td><%= c.name %></td>
          <td><%= update_str %></td>
          <td><%= next_str %></td>
          <td><%= nexts[0].old_code.to_s unless (nexts.blank? or nexts[0].blank?) %></td>
          <td><%= nexts[0].old_name   unless (nexts.blank? or nexts[0].blank?) %></td>
        </tr>
        <% if !nexts.blank? and nexts.size > 1 %>
          <% nexts.each_with_index do |n1,idx1| %>
          <%  next if idx1==0 %>
          <tr <%= cycle '', 'class="cycle"' %> >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><%= System::GroupNext.state_show(n1.operation) %></td>
            <td><%= n1.old_code.to_s %></td>
            <td><%= n1.old_name %></td>
          </tr>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%
        # item.level_no==3 の場合
        # 変更区分
          update1             = System::GroupUpdate.new
          update1.group_id    = item.id
          update1.order       'code'
          updates             = update1.find(:all)
          if updates.blank?
            update_str = nil
          else
            update_str = System::GroupUpdate.state_show(updates[0].state)
          end
        # 引継分類
          unless updates.blank?
            next1               = System::GroupNext.new
            next1.group_update_id  = updates[0].id
            #next1.old_group_id  = item.id
            next1.order         'old_code'
            nexts               = next1.find(:all)
            if nexts.blank?
              next_str = nil
            else
              next_str = System::GroupNext.state_show(nexts[0].operation)
            end
          end
      %>
      <tr <%= cycle '', 'class="cycle"' %> >
        <td><%= link_to_show item.id %></td>
        <td><%= item.parent.ou_name %></td>
        <td><%= item.code %></td>
        <td><%= item.name %></td>
        <td><%= update_str %></td>
        <td><%= next_str %></td>
        <td><%= nexts[0].old_code.to_s unless (nexts.blank? or nexts[0].blank?) %></td>
        <td><%= nexts[0].old_name   unless (nexts.blank? or nexts[0].blank?) %></td>
      </tr>
      <% if !nexts.blank? and nexts.size > 1 %>
        <% nexts.each_with_index do |n2,idx2| %>
        <%  next if idx2==0 %>
        <tr <%= cycle '', 'class="cycle"' %> >
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= System::GroupNext.state_show(n2.operation) %></td>
          <td><%= n2.old_code.to_s %></td>
          <td><%= n2.old_name %></td>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>
<% end %>
<%#= paginate @items %>
