<%
  @ssos = Gw::EditTab.find(:all, :conditions => "published='opened' AND state='enabled' AND class_sso=2")
%>

<%= f.hidden_field :class_created %>
<%= f.hidden_field :parent_id %>
<%= f.hidden_field :level_no  %>
<%= f.hidden_field :sort_no   %>
<%= f.hidden_field :uid %>
<%= f.hidden_field :published %>
<%= f.hidden_field :block_icon_id %>
<%= f.hidden_field :block_css_id %>
<%= f.hidden_field :display_auth %>
<%= f.hidden_field :icon_path %>
<% if @item.level_no != 2 %>
  <%= f.hidden_field :tab_keys %>
<% end %>
<% if @item.level_no < 3 %>
  <%= f.hidden_field :class_external %>
  <%= f.hidden_field :class_sso      %>
<% end %>

<%= f.error_messages %>
<%= required_head %>
<table class="show">
  <tr>
    <th>公開</th>
    <td><%= radio f, :published ,Gw::EditLinkPiece.published_select ,:class=>'state' %></td>
  </tr>
  <tr>
    <th>状態</th>
    <td><%= radio f, :state ,Gw::EditLinkPiece.state_select ,:class=>'state' %></td>
  </tr>
  <tr>
    <th>並び順</th>
    <td><%= @item.sort_no %></td>
  </tr>
  <tr>
    <th>表示名<%= required %></th>
    <td><%= f.text_field :name, :size=>80 %></td>
  </tr>
  <% if @item.level_no == 2 %>
  <tr>
    <th>タブキー<%= required %></th>
    <td><%= f.text_field :tab_keys, :size=>10, :class=>'IMEoff' %></td>
  </tr>
  <% end %>
</table>

<script type="text/javascript">
//<![CDATA[
  function set_use_sso_visual() {
    $('f_ssoid').color = 'black'
    $('f_field_account').color = 'gray'
    $('f_field_pass').color = 'gray'
    $('f_class_external').color = 'gray'
    $('f_link_url').color = 'gray'
    $('required_ssoid').style.display = 'inline'
    if ($('required_link_url')) {
      $('required_link_url').style.display = 'none'
    }
    
    $('item_ssoid').disabled = false
    $('item_class_external_1').disabled = true
    $('item_class_external_2').disabled = true
    $('item_link_url').disabled = true
  }
  function set_unuse_sso_visual() {
    $('f_ssoid').color = 'gray'
    $('f_field_account').color = 'gray'
    $('f_field_pass').color = 'gray'
    $('f_class_external').color = 'black'
    $('f_link_url').color = 'black'
    $('required_ssoid').style.display = 'none'
    if ($('required_link_url')) {
      $('required_link_url').style.display = 'inline'
    }
    
    $('item_ssoid').disabled = true
    $('item_class_external_1').disabled = false
    $('item_class_external_2').disabled = false
    $('item_link_url').disabled = false
  }
  function use_sso() {
    set_use_sso_visual()
    if ($('item_ssoid').selectedIndex == 0) {
      $('item_field_account').value = ''
      $('item_field_pass').value = ''
      $('item_link_url').value = ''
      $('item_class_external_1').checked = false
      $('item_class_external_2').checked = false
    } else {
      on_change_select()
    }
  }
  function unuse_sso() {
    set_unuse_sso_visual()
    $('item_ssoid').selectedIndex = 0
    $('item_class_external_1').checked = true
    $('item_class_external_2').checked = false
    $("item_field_account").value = ''
    $("item_field_pass").value = ''
    $('item_link_url').value = ''
  }
  function on_change_radio() {
    if ($('item_class_sso_1').checked) {
      unuse_sso()
    } else {
      use_sso()
    }
  }
  function set_sso_field(json){
    var data = eval("(" + json + ")");
    $('item_field_account').value = data[0]
    $('item_field_pass').value = data[1]
    $('item_link_url').value = data[3]
    switch (data[2]) {
      case '':
        $('item_class_external_1').checked = false;
        $('item_class_external_2').checked = false;
        break;
      case '1':
        $('item_class_external_1').checked = true;
        $('item_class_external_2').checked = false;
        break;
      case "2":
        $('item_class_external_1').checked = false;
        $('item_class_external_2').checked = true;
        break;
    }
  }
  var reqcount = 0
  function start_request() {
    reqcount++
    $('item_submit').disabled = true
    document.body.style.cursor = 'wait';
  }
  function end_request() {
    if (--reqcount == 0) {
      $('item_submit').disabled = false
      document.body.style.cursor = 'default';
    }
  }
  function on_change_select() {
    var elm = $('item_ssoid');
    var ssoid = elm.options[elm.selectedIndex].value;
    var url = "<%= Site.current_node.public_uri %>fill_sso.csv?ssoid=" + ssoid
    start_request()
    new Ajax.Request(url, {
      method: 'get',
      onComplete: function(x) {
        set_sso_field(x.responseText)
        end_request()
      }
    })
  }
  function on_load_form() {
    if ($('item_class_sso_1').checked) {
      set_unuse_sso_visual()
    } else {
      set_use_sso_visual()
    }
  }
  
  window.onload = on_load_form;
  
//]]>
</script>

<% if @item.level_no >= 3 %>
<table class="show">
  <% required_ssoid = "<span class='required' id='required_ssoid'>※</span>"%>
  <% required_link_url = "<span class='required' id='required_link_url'>※</span>"%>
  <tr>
    <th>SSO利用</th>
    <td><%= radio f, :class_sso, Gw::EditLinkPiece.sso_select, :class=>'state', :onclick=>'on_change_radio();' %></td>
  </tr>
  <tr id="ssoid">
    <th><font id="f_ssoid">SSO選択<%= required_ssoid %></font></th>
    <td><%= f.collection_select :ssoid, @ssos, :id, :name, { :include_blank => true, :selected => @item.ssoid }, { :onchange=>'on_change_select();'} %></td>
  </tr>
  <tr id="field_account">
    <th><font id="f_field_account">アカウント項目名</font></th>
    <td><%= f.text_field :field_account, :size=>50, :class=>'IMEoff', :disabled=>'' %></td>
  </tr>
  <tr id="field_pass">
    <th><font id="f_field_pass">パスワード項目名</font></th>
    <td><%= f.text_field :field_pass, :size=>50, :class=>'IMEoff', :disabled=>'' %></td>
  </tr>
  <tr id="class_external">
    <th><font id="f_class_external">接続先区分</font></th>
    <td><%= radio f, :class_external, Gw::EditLinkPiece.external_select, :class=>'state' %></td>
  </tr>
  <tr id="link_url">
    <th><font id="f_link_url">リンク先URL<%= required_link_url if @item.level_no == 4 %></font></th>
    <td><%= f.text_area :link_url, :rows=>3, :cols=>80, :class=>'IMEoff' %></td>
  </tr>
  <tr id="remark">
    <th><font id="f_remark">備考</font></th>
    <td><%= f.text_area :remark, :rows=>3, :cols=>80 %></td>
  </tr>
</table>
<% end %>

<div class="preserve">
<%= f.submit '保存' %>
</div>
