<% 
  width = "0em"
  width = "2em" if item.level_no == 3
  width = "4em" if item.level_no == 4
%>
<tr <%= cycle '', 'class="cycle"'  %> >
  <td><%= link_to '詳細', "#{Site.current_node.public_uri}#{item.id}?pid=#{item.parent_id}" if item.level_no >= 3 %></td>
  <td><%= link_to '編集', "#{Site.current_node.public_uri}#{item.id}/edit?pid=#{item.parent_id}" if item.level_no >= 3 %></td>
  <td><%= link_to '削除', "#{Site.current_node.public_uri}#{item.id}?pid=#{item.parent_id}", :confirm=>"削除してよろしいですか？", :method=>"delete" if item.level_no >= 3 %></td>
  <td><span <%= item.get_published_color %> ><%= Gw::EditLinkPiece.published_show(item.published) %></span></td>
  <td><span <%= item.get_state_color %> ><%=h Gw::EditLinkPiece.state_show(item.state) %></span></td>
  <td><%=h Gw::EditLinkPiece.level_show(item.level_no) %></td>
  <td><%=h item.sort_no %></td>
  <td><span style="margin-left:<%= width %>;"><span <%= item.get_name_color %> ><span title="<%= item.get_tooltip %>"><%=h item.name %></span></span></span></td>
  <td><%=h Gw::EditLinkPiece.external_show(item.class_external) %></td>
  <td><%=h Gw::EditLinkPiece.sso_show(item.class_sso) %></td>
</tr>
