<div class="piece linkSetting">
<%= render :partial => 'header_str' %>
<div class="pieceBody">
<%= render :partial => 'header_new_botton' %>
<%= render :partial => 'header_navi' %>
<%= div_notice %>

<% if @items.size == 0 %>
<div class="notice">表示対象がありません。</div>
<% else %>
<table class="index">
  <tr>
  <th class="action"><%# 詳細 %></th>
  <th class="action"><%# 編集 %></th>
  <th class="action"><%# 削除 %></th>
  <th class="state">公開</th>
  <th class="state">状態</th>
  <th class="level">階層</th>
  <th class="order">並び順</th>
  <th class="title">表示名</th>
  <th class="ext">接続先区分</th>
  <th class="sso">SSO利用</th>
  </tr>
  <% @items.each do |item2| %>
    <%= render :partial => "list", :locals=>{:item=>item2} %>
    <% item2.get_child.each do |item3| %>
      <%= render :partial => "list", :locals=>{:item=>item3} %>
      <% item3.get_child.each do |item4| %>
        <%= render :partial => "list", :locals=>{:item=>item4} %>
      <% end %>
    <% end %>
  <% end %>
</table>
<% end %>

</div>
</div>
