<div class="bbsDocList circular">
<div class="pieceHeader">
<h2 class="pieceTitle"><%=@system_title%></h2>
<div class="btsHeadeRight"><%=gwmonitor_settings%></div>
</div><!--pieceHeader-->
<div class="pieceBody">

<% form_for :item, :url => @item.update_path ,:html => {:method=>:put , :multipart => true, :id => 'itemForm'} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>

<div class="submitters">
<div align="center">
<table>
<tr>
<td><%= submit_for_update(f, :js_submitter => "my_submit('public')",:caption=>'配信') -%></td>
<td><%= submit_for_update(f, :js_submitter => "my_submit('draft')",:caption=>'下書き')%></td>
</tr>
</table>
</div>
</div>

<%end%>

</div><!--pieceBody-->
</div><!--piece-->
