<%# app/views/system/admin/groups/index.html %>
<%
options={
  'table_name'=>'system_groups',
  :action=>'index' ,
  :link_to_explore=>1
}
%>
<div class="indexTabs">
<span>グループ</span>
<%=link_to 'ユーザー', system_users_groups_path(@parent) %>
</div>

<%= table_to_index2 @items,options %>
<!--
<%#*<table class="index">%>

<%#*<tr>%>
<%#*<th style="width: 60px; text-align: center;">Open</th>%>
<%#*<th style="width: 60px; text-align: center;">Show</th>%>
<%#*<th style="width: 60px; text-align: right;">Code</th>%>
    <%#*<th >Name</th>%>
<%#*<th >Email</th>%>
<%#*<th >Start_at</th>%>
<%#*<th >End_at</th>%>
<%#*<th >Ldap</th>%>
<%#*<th style="width: 60px; text-align: center;">Status</th>%>
<%#*</tr>%>

<%#
for item in @items
  next if System::Group.usable?(item.id,nil) == false
%>#
<%#*<tr <%= cycle '', 'class="cycle"' %>>%>
<%#*<td style="text-align: center;"><%= link_to_list item %></td>%>
<%#*<td style="text-align: center;"><%= link_to_show item %></td>%>
<%#*<td style="text-align: right;"><%=h item.code %><%#=h item.id %></td>%>
<%#*<td><%=h item.name %></td>%>
<%#*<td><%=h item.email %></td>%>
<%#*<td><%=h Gw.date_str(item.start_at) %></td>%>
<%#*<td><%=h Gw.date_str(item.end_at) %></td>%>
<%#*<td><%=h System::Group.ldap_show(item.ldap) %></td>%>
<%#*<td style="text-align: center;"><%= item.status.name %></td>%>
<%#*</tr>%>
<%# end %>

<%#*</table>%>
-->
<%= paginate @items %>
