<%= render :partial => 'header_help' %>
<!--掲示板タブ-->
<div class="tabBox">
<table class="tabtable">
<tbody>
<tr>
<td class="spaceLeft">
</td><td class="tab "><%=link_to "公開記事一覧", gwbd_public_url_base %></td>
<%if @is_writable%>
 <td class="spaceCenter"></td>
 <td class="tab "><%=link_to "本日分", gwbd_public_url_base + "&state=TODAY" %></td>
 <td class="spaceCenter"></td>
 <td class="tab "><%=link_to "下書一覧", gwbd_public_url_base + "&state=DRAFT" %></td>
<%end%>
<td class="spaceRight">
</td></tr>
</tbody>
</table>
</div><!--tabBox-->

<div class="docsInnerBox">
<div class="questionDivision">
<div>
<%if @title.category == 1%>
 <%= @title.category1_name + ' : ' unless @title.category1_name.blank? %>
 <%= gwbd_category_name(@d_categories,@item.category1_id) %>
<%end %>
</div>
</div>
<%if is_qa_editable(@is_admin,@item)%>
 <div class="questionPerson">
 <div>
  <% if is_qa_editable(@is_admin,@item) %>
   <%= link_to('削除', @item.delete_path, :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete) %>
  <%end%>
  <span class="questionDay"><%=@item.latest_updated_at.strftime('%Y-%m-%d %H:%M')%></span>
 </div>
 </div>
<%else %>
 <div class="questionPerson">
 <div>
 質問者 : <%=@item.editordivision || @item.createrdivision%> <%=@item.editor || @item.creater%>
 <span class="questionDay"><%=@item.latest_updated_at.strftime('%Y-%m-%d %H:%M')%></span>
 </div>
 </div>
<%end%>
<table class="questionArea">
 <tbody>
 <tr><th>
<span><%=
  if @item.content_state != "resolved"
   "質問　"
  else
   "【解決しました】"
  end
%>
</span>
<%if is_qa_editable(@is_admin,@item)%>
  <a href="<%=@item.gwqa_edit_path%>" title="この質問の内容を修正します。">質問者 : <%=@item.editordivision || @item.createrdivision%> <%=@item.editor || @item.creater%></a>
<%else %>
 質問者 : <%=@item.editordivision || @item.createrdivision%> <%=@item.editor || @item.creater%>
<%end%>
</th>
</tr>
<tr><td class="questionTitle"><%=@item.title%></td></tr>
<tr><td class="questionText" <%= @item.body %></td></tr>
<%if is_settlement(@item)%>
<tr><td class="solution"><%= link_to('解決済にする', @item.settlement_path, :confirm => 'この質問を解決済みにします。', :method => :settlement) %></td></tr>
<%end%>
</tbody>
</table>
<%= render :partial => 'question_file_index' %>

<div class="questionAnswer">
 <%if @is_writable %>
 <%if @item.content_state != "resolved"%>
 <div><a href="<%=@item.gwqa_answer_new_path(@title.id, @item.id)%>" title="この質問に回答を付けます">【回答を記入します】</a></div>
 <%end %>
 <%end %>
</div>
<%unless @answers.blank? %>
 <div class="answerSort"><%=anser_sort_link(@item)%></div>
 <div class="answerArea">
 <% for @answer in @answers %>
 <div class="answerBox">
 <div class="answerhead">
 <div>
 <span class="answerPerson">
 <% if @is_admin%>
  <%= link_to('削除', @answer.delete_path, :confirm => '削除をすると元に戻せません。削除しますか', :method => :delete)%>
 <%end%>
 </span>
 <span class="answerDay">
 <%= @answer.updated_at.strftime('%Y-%m-%d %H:%M') %>
 </span>
 </div>
 </div>
 <table class="bbsUserformBody">
 <tbody>
 <tr><th>
     <div class="answerTitle"><span>回答</span>
 <% if is_qa_editable(@is_admin,@answer) %>
  <a href="<%=@answer.gwqa_edit_path%>" title="この回答の内容を修正します"> 回答者 : <%=@answer.editordivision || @answer.createrdivision%> <%=@answer.editor || @answer.creater%></a>
 <%else%>
  回答者 : <%=@answer.editordivision || @answer.createrdivision%> <%=@answer.editor || @answer.creater%>
 <%end%></div></th></tr>
 <tr><td class="answerText"><%= @answer.body %></td></tr>
 </tbody>
 </table>
 </div>
 <%= render :partial => 'answer_file_index' %>
 <% end %>
 </div>
<%end%>
</div>

<!--戻るボタン-->
<div class="btReturn">
  <%=link_to '質問一覧へ戻る', "#{@title.docs_path}#{gwbbs_params_set}" %>
</div>
