<% _path = '/_common/modules/digitallibrary/'%>
<%
  if @item.blank?
    mce_base_url = ''
  else
    mce_base_url = _path + sprintf("%06d", @item.title_id) + '/' + @item.name + "/" unless @item.name.blank?
  end
%>
<%= tool_tiny_mce(mce_base_url, {:leftbar_mode=>true}) %>

<table class="show">
  <tr>
    <th>記事管理課<%= required('※') %></th>
    <td>
      <%= f.select(:section_code, Gwboard::Group.level3_all.collect{|i|
      [i.name, i.code]}, :include_blank => '記事の管理課を選択してください') %>
    </td>
  </tr>
</table>

<table class="show">
  <tr>
    <th>見出し（階層）</th></tr><tr>
    <td>
      <%= required('見出しが登録されていません') if @tree_list == []%>
      <%= f.select(:chg_parent_id, @tree_list, :include_blank => false) unless @tree_list == []%>
    </td>
  </tr>
  <tr>
    <th>記事の順</th></tr><tr>
    <td>
      <%= required('記事が登録されていません') if @position == []%>
      <%= f.select(:seq_no, @position, :include_blank => false) unless @position == []%>
    </td>
  </tr>
</table>
<table class="show">
  <tr>
    <th>タイトル</th></tr><tr>
    <td><%= f.text_area :title, :cols=>"82", :rows=>"2" %></td>
  </tr>
</table>

<table class="show">
  <tr>
    <th>記事</th></tr><tr>
    <td class="mceEditor"><%= f.text_area :body, :class => 'mceEditor', :style => 'width:100%' %></td>
  </tr>
</table>

<script type="text/javascript">
//<![CDATA[
  function chageDisp(obj,changeObjId) {
    var display = document.getElementById(changeObjId).style.display;
    if (display == '') {
      obj.innerHTML = '開く▼';
    } else if (display == 'none') {
      obj.innerHTML = '閉じる▲';
    }
    Element.toggle($(changeObjId));
  }
//]]>
</script>

<%=gwboard_image_form(f, @item, 'item_body')%>

<%=gwboard_attach_form(f, @item)%>

<%= render :partial => 'doclibrary/public/docs/hidden_form' %>
