<table class="index">
  <tr>
  <th class="action"><%#詳細%></th>
  <th class="action"><%#編集%></th>
  <th class="action"><%#削除%></th>
  <th colspan="2">並び順</th>
  <th class="genre">コンテンツ</th>
  <th class="title">タイトル</th>
  <th class="limit">表示件数</th>
  </tr>
<% items.each_with_index do |item,idx| %>
  <% uid = did = 0 %>
  <% uid = items[idx-1].id if 0 < idx %>
  <% did = items[idx+1].id if idx < items.length-1 %>
  <tr <%= cycle '', 'class="cycle"' %>>
  <td class="action"><%= link_to_show item.id %></td>
  <td class="action"><%= link_to_edit item.id %></td>
  <td class="action"><%= link_to_destroy item.id %></td>
  <td class='uSort'><%= link_to('▲', "/gw/ind_portal_pieces/#{item.id}/swap?sid=#{uid}") if uid != 0 %></td>
  <td class='dSort'><%= link_to('▼', "/gw/ind_portal_pieces/#{item.id}/swap?sid=#{did}") if did != 0 %></td>
  <td><%=h item.name %></td>
  <td><%=h item.title %></td>
  <td><%=h item.get_limit_str %></td>
  </tr>
<% end %>
</table>

