<%#*<p>Find me in app/views/gw/public/edit_tabs/edit.html.erb</p>%>
<%
  @action = "edit"
  @edit_path = "#{Site.current_node.public_uri}#{@item.id}?pid=#{@parent.id}"
%>

<div class="piece AdminSetting">

<%= render :partial => 'header_str' %>

<div class="pieceBody">
  <%= render :partial => 'header_new_botton' %>
  <%= render :partial => 'header_navi' %>
  <div class="btReturn">
    <%= link_to '詳細に戻る' , "#{Site.current_node.public_uri}#{@item.id}?pid=#{@parent.id}" %>
  </div>
  <%= div_notice %>
  <% form_for :item, :url => @edit_path ,:action=>:update, :html => {:id => "itemForm", :method => :put, :multipart => true} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end  %>
</div>

</div>
