<%# app/views/cms/admin/nodes/show.html.erb %>
<div class="showMenu">
<%=link_to_edit      @item if @item.editable? %>
<%=link_to_destroy   @item if @item.deletable? %>
</div>
<%= table_to_show2 @item %>
<%= recognizer_view @item %>
<%= task_view @item %>
<%= creator_view @item %>
