<table class="show">

  <tr>
    <th>状態</th>
    <td><%=radio f, :state, @item.states, :class => 'state' %></td>
  </tr><tr>
    <th>内部名称</th>
    <td><%= f.text_field :name, :class => 'string name', :style => 'width: 200px;' %></td>
  </tr><tr>
    <th>表示名称</th>
    <td><%= f.text_field :title, :class => 'string title' %></td>
  </tr><tr>
    <th>ヘッダー</th>
    <td><%= f.text_area :head, :class => 'string head' %></td>
  </tr><tr>
    <th>本文</th>
    <td><%= f.text_area :body, :class => 'string body' %></td>
  </tr><tr>
    <th>スタイルシート</th>
    <td><%= f.text_area :stylesheet, :class => 'string stylesheet' %></td>
  </tr>
<tr>
    <th>携帯ヘッダー</th>
    <td><%= f.text_area :mobile_head, :class => 'string head' %></td>
  </tr><tr>
    <th>携帯本文</th>
    <td><%= f.text_area :mobile_body, :class => 'string body' %></td>
  </tr><tr>
    <th>携帯スタイルシート</th>
    <td><%= f.text_area :mobile_stylesheet, :class => 'string stylesheet' %></td>
  </tr>
  <tr>
    <th>スマートフォンヘッダー</th>
    <td><%= f.text_area :s_mobile_head, :class => 'string head' %></td>
  </tr><tr>
    <th>スマートフォン本文</th>
    <td><%= f.text_area :s_mobile_body, :class => 'string body' %></td>
  </tr><tr>
    <th>スマートフォンスタイルシート</th>
    <td><%= f.text_area :s_mobile_stylesheet, :class => 'string stylesheet' %></td>
  </tr>
</table>

<%#= recognizer_form f, @item %>

<%#= task_form f, @item %>
