<table class="show">
  
  <tr>
    <th>状態</th>
    <td><%=radio f, :state, @item.states, :class => 'state' %></td>
  </tr><tr>
    <th>モジュール名</th>
    <td><%= f.text_field :module, :class => 'string module', :style => 'width: 200px;' %></td>
  </tr><tr>
    <th>コントローラ名</th>
    <td><%= f.text_field :controller, :class => 'string controller', :style => 'width: 200px;' %></td>
  </tr><tr>
    <th>内部名称</th>
    <td><%= f.text_field :name, :class => 'string name', :style => 'width: 200px;' %></td>
  </tr><tr>
    <th>表示名称</th>
    <td><%= f.text_field :title, :class => 'string title' %></td>
  </tr><tr>
    <th>ディレクトリパス</th>
    <td><%= f.text_field :path, :class => 'string path' %></td>
  </tr>

</table>

<%= recognizer_form f, @item %>
<%= task_form f, @item %>
