<%# app/views/system/admin/group_updates/edit.html %>
<%
options = {
  'table_name'=>'system_group_updates',:action=>'index',
  'link_to_show'=>0
}
options['field_td_criteria']={
  '_parent_ou'=>Proc.new{|item|    item.parent_code+item.parent_name  } ,
  '_group_ou' =>Proc.new{|item|    item.code+item.name  }
}
%>
<%= table_to_index2 [@group_updates],options %>
<br />
<div class="showMenu">
<%= link_to_show @item.id %>
</div>

<% form_for :item, :url => {:action => :update}, :html => {:method => :put} do |f| %>
  
<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%= submit_for_update f %>

<% end %>
