<%# app/views/system/admin/group_nexts/index.html %>
<%
options1 = {
  'table_name'=>'system_group_updates',:action=>'show',
  'link_to_show'=>0
}
options1['field_td_criteria']={
  '_parent_ou'=>Proc.new{|item|    item.parent_code+item.parent_name  } ,
  '_group_ou' =>Proc.new{|item|    item.code+item.name  }
}
options={
  'table_name'=>'system_group_nexts',
  :action=>'index' ,
  :link_to_show=>1
}
%>
<br />
<%= table_to_index2 [@group_updates],options1 %>
<br />
<div class="showMenu">
  <%= link_to '戻る'    ,system_group_update_path(@group_update) %>
  <%= link_to '登録'    ,new_system_group_next_path %>
</div>
<br />
<%= table_to_index2 @items,options %>
<%= paginate @items %>
