<%= f.error_messages %>
<%= f.hidden_field :uid %>
<%= required_head %>
<br>
<table class="show">
  <tr>
    <th>タイトル<%= required %></th>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <th>メモ<%= required %></th>
    <td><%= f.text_area :body, :rows=>5, :cols=>80 %></td>
  </tr>
</table>

<div class="preserve">
  <%= f.submit '保存' %>
</div>
