<div class="piece gadget note">
<div class="pieceHeader">
<h3>メモ帳</h3>
<!--<div class="btsHeaderRight">
  <span class="btSet"><%= link_to '設定', "/gw/notes/edit_props" %></span>
</div>-->
</div>

<script type="text/javascript">
<!--
  var _note_mode;
  var _note_display;
  
  function set_mode_display(mode, display) {
    _note_mode = mode;
    _note_display = display; 
    switch (mode) {
      case "new":
        if (display) {
          $('note_new_form').style.display = 'block';
          //$('note_new_button').style.display = 'block';
        } else {
          $('note_new_form').style.display = 'none';
          //$('note_new_button').style.display = 'none';
        }
        $('note_edit_form').style.display = 'none';
				$('note_show_table').style.display = 'none';
        break;
      case "edit":
        if (display) {
          $('note_edit_form').style.display = 'block';
          //$('note_new_button').style.display = 'block';
        } else {
          $('note_edit_form').style.display = 'none';
          //$('note_new_button').style.display = 'none';
        }
        $('note_new_form').style.display = 'none';
				$('note_show_table').style.display = 'none';
        break;
      case "show":
        if (display) {
          $('note_show_table').style.display = 'block';
        } else {
          $('note_show_table').style.display = 'none';
        }
        $('note_new_form').style.display = 'none';
				$('note_edit_form').style.display = 'none';
        break;
    }
    if (display) {
      $('note_toggle_button').innerHTML = '－';
    } else {
      $('note_toggle_button').innerHTML = '＋';
    }
  }
  function set_item_field(response) {
    var data = eval("(" + response + ")");
    if (data.length >= 3) {
      $('note_edit_form').action = "/gw/notes/" + data[0];
      $('edit_item_title').value = data[1];
	    $('edit_item_body').value = data[2];
	
		  $('show_item_title').innerHTML = data[1].escapeHTML();
      $('show_item_body').innerHTML = data[2].escapeHTML();		
    }
  }
  function on_click_new(node) {
    set_mode_display('new', true);
  }
  function hide_error_explanation() {
    if ($('errorExplanation')) {
      $('errorExplanation').style.display = 'none';
    }
    //var elements = document.getElementsByClassName('fieldWithErrors');
    //for (var i=0; i<elements.length; i++) {
    //  Element.removeClassName(elements[i], 'fieldWithErrors');
    //}
    var elements = document.getElementsByTagName("div");
    for (var i=0; i<elements.length; i++) {
      if (elements[i].className == 'fieldWithErrors') {
        elements[i].className = 'none'
      } 
    }
  }
  var _note_reqcount = 0
  function start_request() {
    _note_reqcount++
    $('new_item_submit').disabled = true;
    $('edit_item_submit').disabled = true;
    document.body.style.cursor = 'wait';
  }
  function end_request() {
    if (--_note_reqcount == 0) {
      $('new_item_submit').disabled = false;
      $('edit_item_submit').disabled = false;
      document.body.style.cursor = 'default';
    }
  }
  function on_click_toggle() {
		if (_note_display == false) {
		  _note_mode = 'new'
		}
    set_mode_display(_note_mode, !_note_display); 
  }
  function on_click_edit(node, item_id) {
    var url = "/gw/notes/fill_data.csv?id=" + item_id;
    start_request();
    new Ajax.Request(url, {
      method: 'get',
      onComplete: function(x) {
        set_item_field(x.responseText);
        end_request();
        set_mode_display('edit', true);
        hide_error_explanation();
      }
    })
  }
  function on_click_show(node, item_id) {
    var url = "/gw/notes/fill_data.csv?id=" + item_id;
    start_request();
    new Ajax.Request(url, {
      method: 'get',
      onComplete: function(x) {
        set_item_field(x.responseText);
        end_request();
        set_mode_display('show', true);
        hide_error_explanation();
      }
    })
  }  
  function on_load_form() {
    var init_mode = "<%= flash[:note_edit_error_item] ? 'edit' : 'new' %>";
    var init_display = eval("<%= flash[:note_new_error_item] || flash[:note_edit_error_item] ? true : false %>");
    set_mode_display(init_mode, init_display);
  }
  
  window.onload = on_load_form;
-->
</script>

<div class="pieceBody">
<% if @items.length == 0 %>
  <div class="notice">表示する内容はありません。</div>
<% else %>
  <table class="index">
    <tr>
      <th class="title">メモ</th>
      <th class="sort" colspan="2" style="width: 70px;">並び順</th>
			<th class="action" style="width: 50px;"></th>
      <th class="action" style="width: 50px;"></th>
    </tr>
  <% @items.each do |item| %>
    <tr <%= cycle '', 'class="cycle"' %>>
      <td class="title">
        <div title="<%=h item.get_tooltip_string %>">
          <%= link_to h(item.title), "#", :onclick=>"on_click_show(this, #{item.id}); return false;" %>
        </div>
      </td>
	    <td><%= item.first? ? '' : link_to('▲', "gw/notes/#{item.id}/move_higher") %></td>
	    <td><%= item.last? ? '' : link_to('▼', "gw/notes/#{item.id}/move_lower") %></td>
      <!--<td class="action"><%= link_to '編集', "/ind_portal?note_edit_id=#{item.id}", :onmousedown=>"on_mousedown_edit();" %></td>--> 
      <td class="action"><%= link_to '編集', "#", :onclick=>"on_click_edit(this, #{item.id}); return false;" %></td>
      <td class="action"><%= link_to '削除', "/gw/notes/#{item.id}", :confirm=>"削除してよろしいですか？", :method=>:delete %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% if @display_button %>
  <button id="note_toggle_button" class="note_toggle_button" onclick="on_click_toggle();">＋</button>
<% end %>
<!--<blockquote>
  <button id="note_new_button" class="note_new_button" onclick="on_click_new(this);">新規作成</button>
</blockquote>-->

<blockquote>
  <% form_for :new_item, :url => "/gw/notes", :html => {:method=>:post, :id=>"note_new_form", :style=>"display:none"} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</blockquote>

<blockquote>
  <% note_edit_url = "/gw/notes/" %>
  <% note_edit_url = "/gw/notes/#{flash[:note_edit_error_item].id}" if flash[:note_edit_error_item] %>
  <% form_for :edit_item, :url => note_edit_url, :html => {:method=>:put, :id=>"note_edit_form", :style=>"display:none"} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</blockquote>

<blockquote>
	<%= render :partial => 'show'%>
</blockquote>

</div>
</div>
