<%# app/views/system/public/account/login.html.erb %>
<%
  uri = '/login'
  #caption = "JoruriGW ログイン(#{@mode})#{Gw.svn_str}"
%>
<div class="headerTop">
<img src="/_common/themes/gw/files/mobile/header-logo.gif" border="0" />
</div>
<% form_tag(uri, :method => :post, :class => 'login', :name=>'loginForm' ) do %>
<%= hidden_field_tag :url, h(params[:url]) %>

<p><%#= caption %></p>
<%#= div_notice if flash[:notice] %>

<%= div_notice %>

ユーザID<br />
<%= text_field_tag 'account', '' %><br />
<br style="line-height: 0.8;" />
パスワード<br />
<%= password_field_tag 'password', '' %><br />
<br style="line-height: 0.8;" />
モバイルパスワード<br />
<%= password_field_tag 'mobile_password', ''%><br />
<br />
<%= submit_tag "ログイン", :name=>"commit"  %>
<br />
<br />
<% end -%>
<div class="footer">
<img src="/_common/themes/gw/files/mobile/footer.gif" border="0" />
</div>
<%#= set_focus_to_id 'account' %>
