<table class="index">
  
  <tr>
    <th style="width: 60px; text-align: center;">表示</th>
    <th style="width: 60px; text-align: right;">Id</th>
    <th style="width: 20%;">ドメイン</th>
    <th style="width: ;">サイト名称</th>
    <th style="width: 60px; text-align: center;">ステータス</th>
  </tr>
  
  <% for item in @items %>
  <tr <%= cycle '', 'class="cycle"' %>>
    <td style="text-align: center;"><%= link_to_show item %></td>
    <td style="text-align: right;"><%=h item.id %></td>
    <td><%=h item.domain %></td>
    <td><%=h item.name %></td>
    <td style="text-align: center;"><%= item.status.name %></td>
  </tr>
  <% end %>

</table>

<%= paginate @items %>
