<%# app/views/gwsub/public/sb04/sb04helps/index %>
<%
@link_title_str ='別ウィンドウ・別タブで開きます。'
options1 = {
  'table_name'=>'gwsub_sb04helps',
  :action =>  'index' ,
  'link_to_show'  =>  1,
  'field_td_criteria' => {
    'bbs_url' => Proc.new{ |item|
      %Q(<a href="#{item.bbs_url}" target="_blank" title="#{@link_title_str}" >#{item.title}</a>)
    }
  }
}
options2 = {
  'table_name'=>'gwsub_sb04helps',
  :action =>  'view' ,
  'link_to_show'  =>  0 ,
  'field_td_criteria' => {
    'bbs_url' => Proc.new{ |item|
      %Q(<a href="#{item.bbs_url}" target="_blank" title="#{@link_title_str}" >#{item.title}</a>)
    }
  }
}
%>
<div class="gwsub sb04">
<%= render :partial => 'gwsub/public/sb04/sb04_piece_header' %>
<div class="pieceBanner">
<%= render :partial => 'gwsub/public/sb04/sb04helps/menu' %>
</div>
<div class="pieceBody">
<%= div_notice %>
<%= table_to_index2(@items,options1) if     @u_role==true %>
<%= table_to_index2(@items,options2) unless @u_role==true %>
<%= paginate @items %>
</div>
</div>
