<%# app/views/gw/public/todos/index.html.erb %>
<%
#render :partial => '/gw/public/todos/header'
#render :partial => 'search'
path_index = Site.request_path
now = Time.now
%>
<div class="piece schedulePiece index">
  <div class="pieceHeader">
    <%= render :partial => 'piece_header' %>
  </div>
  <div class="pieceBody">
    <div class="pieceBodyHeader">
      <%= render(:partial => '/gw/public/schedules/schedule_bt_box', :locals=>{:d=>Date.today, :mode=>'month'}) %>
    </div>
    <div class="pieceBodyBody">
      <%= render :partial => 'search' %>
      <%= show_notice -%>
      <% if @items.length== 0 %>
        <%= Gw.div_notice('表示する項目はありません。') -%>
      <% else %>

      <table class="index">
        <tr>
          <th class="is_finished"><%= sort_link '完了', @sort_keys, path_index, "is_finished", @qs %></th>
          <th class="ed_at"><%= sort_link '期限', @sort_keys, path_index, "ed_at", @qs %></th>
          <th class="title"><%= sort_link '内容', @sort_keys, path_index, "title", @qs %></th>
          <th class="updated_at"><%= sort_link '更新/完了日時', @sort_keys, path_index, "updated_at", @qs %></th>
          <th class="show"></th>
          <th class="finished"></th>
        </tr>
        <% @items.each do |item| -%>
          <%
          # 場所
          schedule = item.schedule

          if nz(item.is_finished, 0) == 0
            finish_str = '完了する'
          else
            finish_str = '未完了に戻す'
          end

          # 完了予定時刻が、現在時刻より前なら赤文字にする。
          item_ed_at_color = ''
          if nz(item.is_finished, 0) == 0 && item.todo_ed_at_id != 2
            if nz(schedule.allday, 0) > 0
              ed_at = Time.local(item.ed_at.year, item.ed_at.month, item.ed_at.day, 23, 59, 59)
            else
              ed_at = item.ed_at
            end

            if now > ed_at
              item_ed_at_color = 'class="required"'
            end
          end

          if item.todo_ed_at_id == 2
            ed_at_str = '期限なし'
          elsif item.todo_ed_at_id == 1
            ed_at_str = item.ed_at.strftime('%Y-%m-%d')
          else
            ed_at_str = item.ed_at.strftime('%Y-%m-%d %H:%M')
          end

          show_link = "/gw/schedules/#{item.schedule_id}/show_one"
          finish_link = "/gw/schedule_todos/#{item.id}/finish#{@params_set}"
          -%>
        <tr>
          <td><%= Gw::ScheduleTodo.finished_show(item.is_finished) -%></td>
          <td><span <%= item_ed_at_color -%>><%= ed_at_str -%></span></td>
          <td><%= schedule.title -%></td>
          <td><%= item.updated_at.strftime('%Y-%m-%d %H:%M') -%></td>
          <td><%= link_to('詳細', show_link) -%></td>
          <td><%= link_to(finish_str, finish_link) -%></td>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
    <%= nz(paginate(@items)) %>
  </div>
</div>

