<%# app/views/gw/public/todos/index.html.erb %>
<%
#render :partial => '/gw/public/todos/header'
#render :partial => 'search'
now = Time.now
@s_finished = nz(params[:s_finished],'1')
%>
<hr  class="borderDash"/>
<p class="leftPad2">
<%if @s_finished == '1'%>
未完了｜
<%= link_to('完了', "/gw/schedule_todos?s_finished=2") -%>｜
<%= link_to('両方', "/gw/schedule_todos?s_finished=3") -%>
<%elsif @s_finished == '2'%>
<%= link_to('未完了', "/gw/schedule_todos?s_finished=1") -%>｜
完了｜
<%= link_to('両方', "/gw/schedule_todos?s_finished=3") -%>
<%else%>
<%= link_to('未完了', "/gw/schedule_todos?s_finished=1") -%>｜
<%= link_to('完了', "/gw/schedule_todos?s_finished=2") -%>｜
両方
<%end%>
</p>
<hr  class="borderDash"/>
<% if @items.length== 0 %>
  <%= Gw.div_notice('表示する項目はありません。') -%>
<% else %>

  <% @items.each do |item| %>
    <%
    # 場所
    schedule = item.schedule
    if item.is_finished == 0
      finish_str = '完了する'
    else
      finish_str = '未完了に戻す'
    end
    # 完了予定時刻が、現在時刻より前なら赤文字にする。
    item_ed_at_str = ''
    if nz(schedule.allday, 0) > 0
      ed_at = Time.local(item.ed_at.year, item.ed_at.month, item.ed_at.day, 23, 59, 59)
      ed_at_str = "時間指定無し（#{ed_at.strftime('%Y-%m-%d')}）"
    else
      ed_at = item.ed_at
      ed_at_str = ed_at.strftime('%Y-%m-%d %H:%M')
    end
    if item.is_finished == 0
      if now > ed_at
        item_ed_at_str = %Q(<font color="#FF0000">#{ed_at_str}</font>)
      else
        item_ed_at_str = %Q(#{ed_at_str})
      end
    else
      item_ed_at_str = %Q(#{ed_at_str})
    end
    show_link = "/gw/schedules/#{item.schedule_id}/show_one?s_finished=#{@s_finished}"
    finish_link = "/gw/schedule_todos/#{item.id}/finish#{@params_set}"
    %>
    <p class="mobileTodo">
    <%=h Gw::ScheduleTodo.finished_show(item.is_finished) -%>　 <%= link_to(h(schedule.title), show_link) -%>
    </p>
    <p class="leftPad2">
    <%= item_ed_at_str -%><br />
    <%= link_to(h(finish_str), finish_link) -%><br />
    </p>
    <br />
  <% end %>
<% end %>
<%= nz(paginate(@items)) %>

