<%
u = Site.user
uid = u.id
link_params = Gw.a_to_qs(["gid=#{params[:gid]}", "uid=#{uid}", "cgid=#{params[:cgid]}","dis=#{@dis}"])
@create_path = %Q(/gw/schedules#{link_params})
@create_path += %Q(&s_date=#{params[:s_date].to_s}sh=#{params[:sh].to_s}&prop_id=#{params[:prop_id].to_s}&s_genre=#{params[:s_genre].to_s})
s_date = nil
s_date = Gw.date8_to_date params['s_date'] unless params['s_date'].blank?
@st_date = nz(s_date, Time.now)
%>
<div id="schedule_part">
<%=render(:partial => '/gw/public/schedules/smartphone_header')%>
<%form_for :item, :url =>@create_path , :html => { :id => 'itemForm'} do |f|%>
<%=f.error_messages%>
<div class="userSelect">
<%=link_to %Q(<img src="/_common/themes/gw/files/smartphone/btn/ic_act_sanka-userchoice.gif">), "/gw/mobile_schedules/list#{link_params}&view=new&link=#{params[:link]}"%>
<span class="textRed">最低1人、10人まで</span>
</div>
<%=render(:partial => 'form_mobile_smartphone', :locals => {:f => f})%>
<%=submit_for_create f, :caption=>"登録する"%>
<%end%>
</div><!--schedule_part-->