<%

@hedder2lnk = 1
@hedder2lnk = 7 if params[:be] == "other"
@hedder2lnk = 7 if @gid.to_i != @prop_gid.to_i && params[:be].blank? && params[:s_genre] == "other" && !params[:prop_id].blank?

@hedder3lnk = 2
@view = "week"

d = @st_date

table_summary = '<table summary="スケジュール詳細" class="scheduleTable'
table_summary+= ' '+ @custom_group.name_en.gsub(" ", "_").camelize(:lower) if @custom_group && !@custom_group.name_en.blank?
table_summary+= '">'

show_flg = true
case @sp_mode
when :schedule
  show_flg = false if @users.length == 0
when :prop
  props = Gw::Model::Schedule.get_props(params, @is_gw_admin, {:s_other_admin_gid=>@s_other_admin_gid})
  show_flg = false if props.length == 0
  if params[:prop_id].present?
      _mdl = Gw::Model::Schedule.get_prop_model(params)
      prop = _mdl.find(:first, :conditions =>  ["id= ? ", params[:prop_id]])
      if prop
      show_flg = prop.delete_state == 0 ? true : false
      if show_flg && @genre == 'other' && !@is_gw_admin
        if !Gw::PropOtherRole.is_edit?(params[:prop_id]) && !Gw::PropOtherRole.is_read?(params[:prop_id])
          show_flg = false
        end
      end
    end
  end
end

%>
<div class="piece schedulePiece weekview">
  <div class="pieceHeader">
    <%= render(:partial => '/gw/public/schedules/piece_header', :locals=>{:piece_head_title => @piece_head_title}) -%>
  </div>
  <div class="pieceBody">
    <div class="pieceBodyHeader">
      <%= render(:partial => '/gw/public/schedules/schedule_header', :locals=>{:d=>d, :mode=>'week', :show_flg => show_flg}) -%>
      <%= show_notice -%>
    </div>
    <div class="pieceBodyBody">
      <table class="scheduleTable <%= @custom_group.name_en.gsub(" ", "_").camelize(:lower) if @custom_group && !@custom_group.name_en.blank? -%>"
             summary="スケジュール詳細">

        <tbody>
          <% if show_flg %>
          <%= render :partial => '/gw/public/schedules/show_week_part', :locals=>{:d=>d, :mode=>'week'} -%>
          <% else -%>
          <%= Gw.div_notice('表示する項目はありません。') -%>
          <% end %>

        </tbody>
      </table>
    </div>
    <div class="pieceBodyFooter">
      <%= render(:partial => '/gw/public/schedules/schedule_footer', :locals=>{:d=>d, :mode=>'week', :show_flg => show_flg}) -%>
    </div>
  </div>
</div>

<%= gw_js_ind_popup -%>
<script type="text/javascript">
//<![CDATA[
  var my_load = function() {
    gw_js_ind_popup();
  }
  window.onload = my_load;
//]]>
</script>
