<%
cnt = cnt
wdays = ["日", "月", "火", "水", "木", "金", "土"]
if params[:sh] == "sh"
  edit_params = '?sh=sh'
else
  edit_params = ''
end

be_str = ""

ref = 'show_one'

  item = _item
  is_public_show = Gw::Schedule.is_public_show(item.is_public)
  is_user = item.is_schedule_user?
  othlinkflg = false

  is_repeated = item.repeated?

  prop_stat = nil
  editlending_flg = false
  is_prop_edit = true

  props = []
  if params[:sh] == "sh" && !item.schedule_parent_id.blank?
    item_parents = Gw::Schedule.find(:all, :conditions=>"schedule_parent_id = #{item.schedule_parent_id}", :order => "id")
    item_parents.each do |item_parent|
      item_parent.schedule_props.each do |prop|
        if (prop.prop_type == "Gw::PropOther" && prop.prop.is_admin_or_editor_or_reader?) || is_user
          props << prop if !prop.prop.blank? && prop.prop.delete_state == 0
        end
      end
    end
  else
    item.schedule_props.each do |prop|
        if (prop.prop_type == "Gw::PropOther" && prop.prop.is_admin_or_editor_or_reader?) || is_user
          props << prop if !prop.prop.blank? && prop.prop.delete_state == 0
        end
    end
  end

  props.each do |prop|
    prop_stat = prop.prop_stat
    genre = prop.is_return_genre?
    if prop.prop_type == 'Gw::PropOther'
      othlinkflg = true
      be_str = @gid.to_i != prop.prop.gid.to_i ? '&be=other' : ""
    end
    is_prop_edit = Gw::ScheduleProp.is_prop_edit?(prop.prop.id, genre) unless prop.prop.blank?
  end
%>
      <% %>
      <%   %>
<%
  inquire_to = "<tr><th>連絡先電話番号（内線）</th><td>#{item.inquire_to}</td></tr>"


  u = Site.user
  destroy_confirm_s = '削除してよろしいですか？'
  destroy_confirm_s = "この予定は、複数のユーザーが登録されています。ログインユーザーの予定だけでなく、この予定に関わるすべてのユーザーの予定が削除されます。\n#{destroy_confirm_s}" if item.schedule_users.collect{|x|[x.class_id, x.uid]}.reject{|x| x[0] == 1 && x[1] == u.id }.length > 0
  destroy_confirm_repeated_s = "\nなお、繰り返し期間に属していても、すでに貸出・返却が行われている予定については削除されません。"
%>

<% if params[:action] == 'show_one' && cnt < 1 %>
  <% link_date = Gw.datetime_to_date(item.st_at) %>
  <%= render(:partial => '/gw/public/schedules/schedule_bt_box' , :locals=>{:d=>link_date, :mode=>'form'}) %>
<% end %>

<%
is_pref_admin_users = item.is_schedule_pref_admin_users?
if is_pref_admin_users && @is_pref_admin
  quote_flg = true
elsif is_pref_admin_users && !@is_pref_admin
  quote_flg = false
elsif !is_pref_admin_users
  quote_flg = true
else
  quote_flg = true
end
%>
    </div>
    <div class="pieceBodyBody">
      <div class="editingBox">
        <div class="btEdit">
<% if @auth_level[:edit_level] == 1 %>
  <%= link_to('編集', "/gw/schedules/#{item.id}/edit") %>
<% end %>
        </div>
<% if @auth_level[:edit_level] == 1 && is_repeated %>
  <%= %Q(<div class="btEditRepeat">#{link_to_edit item.id, nil, :qs=>"repeat=1"}</div>) %>
<% end %>
<%= %Q(<div class="btQuote">#{link_to '引用作成', "/gw/schedules/#{item.id}/quote#{"?sh=sh" if !params[:sh].blank?}", :target=>:_blank}</div>) if quote_flg && is_prop_edit %>
<% if @auth_level[:delete_level] == 1 %>
  <%= %Q(<div class="btDestroy">#{link_to_destroy item.id, nil, :confirm=>destroy_confirm_s}</div>) %>
  <% if is_repeated %>
    <%= %Q(<div class="btDestroyRepeat">#{link_to '繰返一括削除', "/gw/schedules/#{item.id}/destroy_repeat", :confirm=>destroy_confirm_s + destroy_confirm_repeated_s}</div>) %>
  <% end %>
<% end %>

<span class="showLink"><%= link_to '一般施設スケジュール画面へ', "/gw/schedule_props/show_week?s_date=#{item.st_at.strftime("%Y%m%d")}&cls=other&s_genre=other#{be_str}" if othlinkflg %></span>
      </div>
<%= show_notice %>

<% if is_repeated  %>
<table class="show">
<tr><td colspan="2">繰り返し予定です。<%= item.repeat.st_date_at.strftime('%Y年%m月%d日') %>～<%= item.repeat.ed_date_at.strftime('%Y年%m月%d日') %>まで繰り返されてます。</td>
</tr></table>
<% end %>
<%
dts = dt = item.st_at.to_datetime
dte = dt = item.ed_at.to_datetime
title_category = Gw.yaml_to_array_for_select('gw_schedules_title_categories', :include_blank=>1).to_a.rassoc(item.title_category_id.to_i) # 件名カテゴリ

# 開始日時、終了日時の文字列
st_at_s = dts.strftime('%Y-%m-%d') + ' （' + wdays[dts.wday] + '） '
ed_at_s = dte.strftime('%Y-%m-%d') + ' （' + wdays[dte.wday] + '） '
if item.allday.blank?
  st_at_s += dts.strftime('%H:%M')
  ed_at_s += dte.strftime('%H:%M')
elsif item.allday == 1
  st_at_s += "時間未定"
  ed_at_s += "時間未定"
elsif item.allday == 2
  st_at_s += "終日"
  ed_at_s += "終日"
end
%>

      <table class="show">
        <tr>
          <th>開始日時</th><td><%= st_at_s %></td>
        </tr>
        <tr>
          <th>終了日時</th><td><%= ed_at_s %></td>
        </tr>
        <tr><th>件名（用務名等）</th><td><%= "【#{title_category[0]}】　" unless title_category.blank? %><%= item.title %></td></tr>
        <tr><th>場所</th><td><%= item.place %></td></tr>
        <tr><th>メモ</th><td><%= item.memo %></td></tr>
        <tr><th>作成者</th><td><%= item.creator_gname %>　<%= item.creator_uname %></td></tr>
        <tr><th>作成日</th><td><%= item.created_at.strftime('%Y-%m-%d %H:%M') %></td></tr>
        <tr><th>最終更新者</th><td><%= item.updater_gname %>　<%= item.updater_uname %></td></tr>
        <tr><th>最終更新日</th><td><%= item.updated_at.strftime('%Y-%m-%d %H:%M') %></td></tr>
        <%= inquire_to if othlinkflg %>
        <tr><th>公開</th><td><%= is_public_show %></td></tr>
        <% if item.is_public == 2 %>
        <tr><th>公開所属</th><td><%= Gw.join([item.public_groups_display], '<br />') %></td></tr>
        <% end %>
      </table>

<%= Gw::ScheduleUser.users_view(item.schedule_users, :caption => '参加者') %>

<% if params[:sh] == "sh"  %>
  <% if props.length > 0 %>
    <table class="show">
    <tr><th colspan="4">施設予約</th></tr>
    <% props.each do |prop| %>
      <tr><th>名称</th><td><%= prop.prop.name %></td>
      <% if prop.prop_type == "Gw::PropOther" %>
        <th>管理所属</th><td><%= prop.owner_s %></td></tr>
      <% else %>
        <th>施設の状態</th><td><%= prop.prop_stat_s2 %></td></tr>
      <% end %>
    <% end %>
  <% end %>
  </table>
<% else %>
  <% props.each do |prop| %>
    <% if  prop.prop_type == "Gw::PropOther" %>
      <%# type_str = Gw.yaml_to_array_for_select("gw_prop_other_type_ids").rassoc(prop.prop.type_id) %>
      <table class="show">
      <tr><th colspan="4">施設予約</th></tr>
      <tr><th>名称</th><td><%= prop.prop.name %></td>
      <th>管理所属</th><td><%= prop.owner_s %></td></tr>
      </table>
    <% end %>
  <% end %>
<% end %>
