<%
@total_out_count = nz(@total_out_count,0)
dv = nz(dv, d)
@format ||= schedule_settings["#{mode}_view_dayhead_format"]
d1 = d
d2 = d+6
@holidays = Gw::Holiday.find_by_range_cache(d1,d2)

uid = nz(params[:uid], Site.user.id)
link_params = "&gid=#{params[:gid]}&uid=#{uid}&cgid=#{params[:cgid]}&dis=#{@dis}"

schedules = []
captions_hash = Gw::NameValue.get_cache('yaml', nil, 'gw_schedules_settings_system_default')
if @sp_mode == :schedule

  todo = false
  todo = true if params[:gid].blank? && params[:cgid].blank?

  todos_display = Gw::UserProperty.is_todos_display?

  users = @users ? @users :  Gw::Model::Schedule.get_users(params)
  lns = 0
  users.each_with_index{|user, ln|

    hash = { :dv => dv, :hide_user_col => @hide_user_col, :count => @total_out_count,
      :request => request, :sp_mode => @sp_mode, :mode => mode, :user => user, :lns=>lns,
            :holidays=>@holidays, :captions_hash => captions_hash, :schedule_settings => @schedule_settings,
            :todo => todo, :todos_display => todos_display, :is_gw_admin => @is_gw_admin}

    schedules[user.id] = Gw::Model::MobileSchedule.create_user_prop_view(d,d+6, user.id, params,hash)

    lns += 1
  }

else
  props  =  Gw::Model::Schedule.get_props(params, @is_gw_admin, {:s_other_admin_gid=>@s_other_admin_gid})
  lns = 0
  props.each_with_index{|prop, ln|

          is_prop_edit = Gw::ScheduleProp.is_prop_edit?(prop.id, @genre, {:prop => prop, :is_gw_admin => @is_gw_admin})

          hash = {:dv => dv, :hide_user_col => @hide_user_col, :count => @total_out_count,
      :request => request, :sp_mode => @sp_mode, :mode => mode, :lns=>lns,
            :holidays=>@holidays, :captions_hash => captions_hash, :schedule_settings => @schedule_settings,
            :delete_state => prop.delete_state, :reserved_state => prop.reserved_state,
            :type_id => prop.type_id, :prop => prop, :is_prop_edit => is_prop_edit,
            :is_gw_admin => @is_gw_admin, :s_genre=>params[:s_genre], :s_other_admin_gid=>@s_other_admin_gid}

          if params[:s_genre] == 'other'
            schedules[prop.id] = Gw::Model::MobileSchedule.create_user_prop_view(d,d+6, prop.id, params, hash)
          else
            schedules[prop.id] = Gw::Model::MobileSchedule.create_user_prop_view_cache(d,d+6, prop.id, params, hash)
          end

    lns += 1
  }
end

mode = 'week'
uid = nz(params[:uid], Site.user.id)
link_params = Gw.a_to_qs(["gid=#{params[:gid]}", "uid=#{uid}", "cgid=#{params[:cgid]}","dis=#{@dis}"])
@format = "%Y年%m月%d日（%_wd）"

@day_format= "%Y-%m-%d"
@link_format = "%Y%m%d"
%>
<hr class="borderDash"/>
<p class="mobileSchedule"><%=link_to("新規作成", %Q(/gw/schedules/new#{link_params}&s_date=#{date_format(@link_format, d)}))%></p>
<%=render(:partial => '/gw/public/schedules/mobile_header')%>
<%7.times { |i|
items = []
%>
└<%=link_to(%Q(#{date_format(@format, d+i)}), %Q(/gw/schedules/#{(d+i).strftime('%Y%m%d')}#{link_params}&topdate=#{@topdate}))%>
<br/>
<%for user in users%>
<%
next if schedules[user.id].blank?
for shcedule in schedules[user.id]
if shcedule[:date].to_s == %Q(#{date_format(@day_format, d+i)})
items << shcedule
%>
<%end%>
<%end%>
<%if items.blank?%>
<%else%>
<%= %Q(#{user.name}(#{user.code})<br />) if (!params[:gid].blank? && !items.blank?)%>
    <% for item in items%>
<div class="<%=item[:class]%>">
<p class="leftPad1">
       <%if (item[:genre]==:holiday || item[:genre] == :todo)%>
<span class="<%= %Q(textRed)  if item[:genre]==:holiday %>">
<%=item[:title_raw]%><br />
</span>
       <%else%>
       <%if item[:allday].to_i==1%>
  時間未定<br />
       <%elsif item[:allday].to_i==2%>
  終日<br />
       <%else%>
<%=h item[:time_str] %>
       <%end%>
  <p class="leftPad1">
    <%if item[:title_raw] == "[非公開予定]"%>
    &nbsp;&nbsp;<font style="color: #999999;"><%= item[:title_raw] -%></font>
    <%else%>
    &nbsp;&nbsp;<%= link_to  h(item[:title_raw]) ,%Q(#{item[:title_link].to_s}#{link_params}&topdate=#{@topdate}) -%>
    <%end%>
  </p>
       <%end%>
   </p>
</div>
    <%end%>
<%end%>
<%end%>
<%}%>
<hr class="borderDash"/>
<p class="leftPad2"><%=link_to("&lt;&lt;次週", %Q(/gw/schedules/?s_date=#{date_format(@link_format, d+7)}&dis=#{@dis}#{link_params}))%></p>
<p class="leftPad2"><%=link_to("先週&gt;&gt;", %Q(/gw/schedules/?s_date=#{date_format(@link_format, d-7)}&dis=#{@dis}#{link_params}))%></p>