<%
u = Site.user
uid = u.id
link_params = Gw.a_to_qs(["gid=#{params[:gid]}", "uid=#{uid}", "cgid=#{params[:cgid]}","dis=#{@dis}"])
@edit_path = "/gw/schedules/#{@item.id}#{link_params}"
@edit_path += "?sh=sh" if !params[:sh].blank?
%>
<p class="mobileScheduleCurrent">スケジュール</p>
<p class="bgAsh">作成</p>
<%form_for :item, :url => @edit_path, :html => {:method => :put, :id => 'itemForm'} do |f|%>
<%=link_to "参加ユーザー選択", "/gw/mobile_schedules/list#{link_params}&memo_id=#{@item.id}&view=edit&group_id=#{Site.user_group.id}"%><span class="textRed">※</span><br />
<%=f.error_messages%>
<%=render(:partial => 'form_mobile', :locals => {:f => f})%>
<%=submit_for_update f, :caption=>"確定する"%>
<%end%>
<hr class="borderDash"/>
<p class="leftPad2"><%=link_to("&lt;戻る", %Q(/gw/schedules/#{@item.id}/show_one#{link_params}&topdate=#{@topdate}))%></p>
