<%
u = Site.user
uid = u.id
link_params = Gw.a_to_qs(["gid=#{params[:gid]}", "uid=#{uid}", "cgid=#{params[:cgid]}","dis=#{@dis}"])
@create_path = %Q(/gw/schedules#{link_params})
@create_path += %Q(&s_date=#{params[:s_date].to_s}sh=#{params[:sh].to_s}&prop_id=#{params[:prop_id].to_s}&s_genre=#{params[:s_genre].to_s})
%>
<p class="mobileScheduleCurrent">スケジュール</p>
<p class="bgAsh">作成</p>
<%form_for :item, :url =>@create_path , :html => { :id => 'itemForm'} do |f|%>
<%=f.error_messages%>
<%=link_to "参加ユーザー選択", "/gw/mobile_schedules/list#{link_params}&memo_id=#{@item.id}&view=quote&group_id=#{Site.user_group.id}"%><span class="textRed">※</span><br />
<%=render(:partial => 'form_mobile', :locals => {:f => f})%>
<%=submit_for_create f, :caption=>"登録する"%>
<%end%>
<hr class="borderDash"/>
<p class="leftPad2">
<%=link_to("&lt;戻る", %Q(/gw/schedules/#{link_params}&st_date=#{@topdate}))%>
</p>