<% # app/views/gw/public/schedules/show_one_mobile.html.erb

wdays = ["日", "月", "火", "水", "木", "金", "土"]
#concat render(:partial => '/gw/public/schedules/header')
#header_str = render(:partial => "/gw/public/schedules/header")
#header_str = header_str.gsub(/\r\n|\r|\n/, "")  # デザインからの依頼で、改行を削除している。
ref = 'show_one'
u = Site.user
uid = u.id
link_params = Gw.a_to_qs(["gid=#{params[:gid]}", "uid=#{uid}", "cgid=#{params[:cgid]}","dis=#{@dis}"])
@link_format = "%Y%m%d"
if @items[0].blank?
  link_d = Time.now
else
  link_d = @items[0].st_at
end
@st_date = link_d
%>
<div id="schedule_part">

<%=render(:partial => '/gw/public/schedules/smartphone_header')%>

<%@items.each do |item|%>
<%
dts = dt = item.st_at.to_datetime
dte = dt = item.ed_at.to_datetime
is_repeated = item.repeated?
edit_path   = "#{Site.current_node.public_uri}#{item.id}/edit"
delete_path = "/gw/mobile_shcedules/confirm#{item.id}"
%>
<%
  is_public_show = Gw::Schedule.is_public_show(item.is_public)
  is_user = item.is_schedule_user?
  renlinkflg = false
  meelinkflg = false
  othlinkflg = false

  is_actual = item.is_actual?
  is_repeated = item.repeated?

  prop_stat = nil
  editlending_flg = false
  is_prop_edit = true

  props = []
  if params[:sh] == "sh" && !item.schedule_parent_id.blank? # 暫定対応。通常スケジューラーから飛んできたら、schedule_parent_idの全施設を表示する。
    item_parents = Gw::Schedule.find(:all, :conditions=>"schedule_parent_id = #{item.schedule_parent_id}", :order => "id")
    item_parents.each do |item_parent|
      item_parent.schedule_props.each do |prop|
        if prop.prop_type == "Gw::PropMeetingroom" || prop.prop_type == "Gw::PropRentcar"
          props << prop if !prop.prop.blank? && prop.prop.delete_state == 0
        elsif (prop.prop_type == "Gw::PropOther" && prop.prop.is_admin_or_editor_or_reader?) || is_user # 一般施設は、閲覧、編集権限があるかどうか判定。参加者は表示。
          props << prop if !prop.prop.blank? && prop.prop.delete_state == 0
        end
      end
    end
  else
    item.schedule_props.each do |prop|
        if prop.prop_type == "Gw::PropMeetingroom" || prop.prop_type == "Gw::PropRentcar"
          props << prop if !prop.prop.blank? && prop.prop.delete_state == 0
        elsif (prop.prop_type == "Gw::PropOther" && prop.prop.is_admin_or_editor_or_reader?) || is_user # 一般施設は、閲覧、編集権限があるかどうか判定。参加者は表示。
          props << prop if !prop.prop.blank? && prop.prop.delete_state == 0
        end
    end
  end
%>
<%
  sid = item.id
  props.each do |prop|
    prop_stat = prop.prop_stat
    genre = prop.is_return_genre?
    if prop.prop_type == 'Gw::PropRentcar'
      renlinkflg = true
      editlending_flg = true if !prop_stat.blank? && prop_stat > 1
    end
    if prop.prop_type == 'Gw::PropMeetingroom'
      meelinkflg = true
      editlending_flg = true if prop_stat > 0 && !@is_pm_admin  # 管理者以外の時は、承認後の全編集は不可
      editlending_flg = true if prop_stat > 1 && @is_pm_admin  # 管理者の時は、貸出後の全編集は不可
    end
    if prop.prop_type == 'Gw::PropOther'
      othlinkflg = true
      be_str = @gid.to_i != prop.prop.gid.to_i ? '&be=other' : ""
    end
    is_prop_edit = Gw::ScheduleProp.is_prop_edit?(prop.prop.id, genre) unless prop.prop.blank?
  end
%>
<%
  sid = item.id
  props.each do |prop|
    prop_stat = prop.prop_stat
    genre = prop.is_return_genre?
    if prop.prop_type == 'Gw::PropRentcar'
      renlinkflg = true
      editlending_flg = true if !prop_stat.blank? && prop_stat > 1
    end
    if prop.prop_type == 'Gw::PropMeetingroom'
      meelinkflg = true
      editlending_flg = true if prop_stat > 0 && !@is_pm_admin  # 管理者以外の時は、承認後の全編集は不可
      editlending_flg = true if prop_stat > 1 && @is_pm_admin  # 管理者の時は、貸出後の全編集は不可
    end
    if prop.prop_type == 'Gw::PropOther'
      othlinkflg = true
      be_str = @gid.to_i != prop.prop.gid.to_i ? '&be=other' : ""
    end
    is_prop_edit = Gw::ScheduleProp.is_prop_edit?(prop.prop.id, genre) unless prop.prop.blank?
  end
user_exist_check = Gw::ScheduleUser.user_exist_check(item.id, Site.user.id)


%>


<table class="show">
<tr><th class="date">

<%if nz(item.todo, 0) == 1 && !item.schedule_todo.blank?%>
<%item_todo = item.schedule_todo%>
<%if item_todo.todo_st_at_id.to_i == 2%>
<%if item_todo.todo_ed_at_id.to_i == 2%>
<%else%>
<%=item.ed_at.strftime('%Y年%m月%d日') unless item.ed_at.blank?%>(<%=wdays[item.ed_at.wday] unless item.ed_at.blank?%>)
<%end%>
<%else%>
<%=item.st_at.strftime('%Y年%m月%d日') unless item.st_at.blank?%>(<%=wdays[item.st_at.wday] unless item.st_at.blank?%>)
<%end%>
<%else%>
<%=item.st_at.strftime('%Y年%m月%d日') unless item.st_at.blank?%>(<%=wdays[item.st_at.wday] unless item.st_at.blank?%>)
<%end%>
</th>
<th class="new">
<%=link_to(image_tag('/_common/themes/gw/files/smartphone/other/ic_add.gif', { :border => '0', :alt => '新規作成', :title => '新規作成', :class=>'menu_new'}),
   %Q(/gw/schedules/new?s_date=#{link_d.strftime('%Y%m%d')}#{link_params}&topdate=#{@topdate}))%>
</th></tr>
<%
title_category = Gw.yaml_to_array_for_select('gw_schedules_title_categories', :include_blank=>1).to_a.rassoc(item.title_category_id.to_i) # 件名カテゴリ

# 開始日時、終了日時の文字列
#st_at_base_s = dts.strftime('%Y-%m-%d') + ' （' + wdays[dts.wday] + '） '
#ed_at_base_s = dte.strftime('%Y-%m-%d') + ' （' + wdays[dte.wday] + '） '
if item.allday.blank?
  st_at_s = dts.strftime('%H:%M')
  ed_at_s = dte.strftime('%H:%M')
  time_str =  "#{st_at_s}-#{ed_at_s}"
elsif item.allday == 1 # 基本的に1のみ。1、2とで分かれていたバージョンがあるので、分けておく。
  st_at_s = "時間未定"
  ed_at_s = "時間未定"
  time_str = st_at_s
elsif item.allday == 2
  st_at_s = "終日"
  ed_at_s = "終日"
  time_str = st_at_s
end

todo_flg = nz(item.todo, 0) == 1 && !item.schedule_todo.blank?
# Todo
if todo_flg == true
  item_todo = item.schedule_todo
  s_finished = nz(params[:s_finished], "1")
  # 開始日時
  if nz(item_todo.todo_st_at_id, 0 ) == 1
    st_at_s = st_at_s
  elsif nz(item_todo.todo_st_at_id, 0 ) == 2
    st_at_s = '期限なし'
  end
  # 終了日時
  if nz(item_todo.todo_ed_at_id, 0 ) == 0
    ed_at_s = dte.strftime('%H:%M')
  elsif nz(item_todo.todo_ed_at_id, 0 ) == 1
    ed_at_s = "終日"
  elsif nz(item_todo.todo_ed_at_id, 0 ) == 2
    ed_at_s = '期限なし'
  end
  time_str = ed_at_s
end
  u = Site.user
  destroy_confirm_s = '削除してよろしいですか？'
  destroy_confirm_s = "この予定は、複数のユーザーが登録されています。ログインユーザーの予定だけでなく、この予定に関わるすべてのユーザーの予定が削除されます。\n#{destroy_confirm_s}" if item.schedule_users.collect{|x|[x.class_id, x.uid]}.reject{|x| x[0] == 1 && x[1] == u.id }.length > 0
  destroy_confirm_repeated_s = "\nなお、繰り返し期間に属していても、すでに貸出・返却が行われている予定については削除されません。"
if title_category.blank?
  cat_num = "0"
else
  cat_num = title_category[1]
end
%>
<tr><td class="<%=%Q(category#{cat_num}) unless title_category.blank?%>" colspan="2">
<%=h time_str %>

</td></tr>
<tr><td class="<%=%Q(category#{cat_num}) unless title_category.blank?%>" colspan="2">
<%= "【#{title_category[0]}】　" unless title_category.blank? %><%=h item.title %></td></tr>
</table>
<%# @items.each end %>
<%
is_pref_admin_users = item.is_schedule_pref_admin_users? # 参加者に全庁ユーザーが存在するか？
# 全庁ユーザーが存在した場合、全庁登録権限がないと引用ボタンを表示させないようにする。
if is_pref_admin_users && @is_pref_admin
  quote_flg = true
elsif is_pref_admin_users && !@is_pref_admin
  quote_flg = false
elsif !is_pref_admin_users
  quote_flg = true
else
  quote_flg = true
end
%>

<div class="editingBox">
<% if @auth_level[:edit_level] == 1 %>
  <span class="btEdit"><%= link_to('編集', "/gw/schedules/#{item.id}/edit") %></span>
<%# elsif @auth_level[:edit_level] == 2 %>
  <%#= link_to('編集する', "/gw/schedules/#{item.id}/editlending#{edit_params}") %>
<%# elsif @auth_level[:edit_level] == 3 %>
  <%#= link_to('編集する', "/gw/schedules/#{item.id}/edit_1#{edit_params}") %>
<%# elsif @auth_level[:edit_level] == 4 %>
  <%#= link_to('編集する', "/gw/schedules/#{item.id}/edit_2#{edit_params}") %>
<% end %>
<%# if @auth_level[:edit_level] == 1 && is_repeated %>
  <%#= link_to_edit item.id, nil, :qs=>"repeat=1" %>
<%# end %>
  <span class="btQuote"><%= link_to '引用作成', "/gw/schedules/#{item.id}/quote#{"?sh=sh" if !params[:sh].blank?}" if quote_flg && is_prop_edit %></span>
<% if @auth_level[:delete_level] == 1 %>
    <%= %Q(<span class="btDestroy">#{link_to_destroy item.id, nil, :confirm=>destroy_confirm_s}</span>) %>
  <% if is_repeated %>
      <%= %Q(<span class="btDestroyRepeat">#{link_to '繰返一括削除', "/gw/schedules/#{item.id}/destroy_repeat", :confirm=>destroy_confirm_s + destroy_confirm_repeated_s}</span>) %>
  <% end %>
<% end %>
<%if nz(item.todo, 0).to_i == 0%>
<% elsif !item.schedule_todo.blank? && (user_exist_check || @is_gw_admin || item.creator_uid == Site.user.id ) %>
  <% if nz(item.schedule_todo.is_finished, 0).to_i == 0 %>
    <%= %Q(<span class="btFinish">#{link_to '完了する', "/gw/schedule_todos/#{item.schedule_todo.id}/finish?link=show_one&topdate=#{@topdate}"}</span>) %>
  <% else %>
    <%= %Q(<span class="btUnfinish">#{link_to '未完了に戻す', "/gw/schedule_todos/#{item.schedule_todo.id}/finish?link=show_one&topdate=#{@topdate}"}</span>) %>
  <% end %>
<% end %>
</div>

<table class="show">
<tr><th>場所</th>
<td><%=hbr item.place%></td></tr>
<tr><th>メモ</th><td><%=hbr item.memo %></td></tr>
<tr><th>公開</th><td><%= is_public_show %></td></tr>
<% if item.is_public == 2 %>
<tr><th>公開所属</th><td>
<%= Gw.join([item.public_groups_display], '<br />') %></td></tr>
<% end %>
</table>
<%=render(:partial => '/gw/public/schedules/show_participant_mobile_smartphone', :locals => {:schedule_users => item.schedule_users, :is_todo => todo_flg})%>


<%
sche_back_link = true
if @items[0].blank?
    sche_back_link = false
  else
    if @items[0].st_at.blank?
      sche_back_link = false
    else
      if params[:gid].blank?
        link_str = %Q(/gw/schedules/#{@items[0].st_at.strftime('%Y%m%d')}#{link_params}&topdate=#{@topdate})
      else
        link_str = %Q(/gw/schedules/#{@items[0].st_at.strftime('%Y%m%d')}#{link_params}&topdate=#{@topdate})
      end
    end
end

%>
<%if sche_back_link==true%>
<p class="leftPad2"><%=link_to("&lt;戻る", link_str)%></p>
<%end%>
<% if todo_flg == true%>
<%todo_link_str = %Q(/gw/schedule_todos?s_finished=#{s_finished})%>
<p class="leftPad2"><%=link_to("&lt;&lt;Todo一覧へ戻る", todo_link_str)%></p>
<%end%>
<%if @dis=="week"%>
<p class="leftPad2">
<%=link_to("&lt;&lt;週表示へ", %Q(/gw/schedules/#{link_params}&st_date=#{@topdate}))%>
</p>
<%end%>
<%end%>
</div><!--schedule_part-->