<% form_for :item, :url => @item.update_path, :html => {:method => :post} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%if @title.use_recognize%>
  <%=gwboard_recognizer_form(f, @item) %>
<%end%>

<div class="submitters">
  <%if @title.use_free_public%>
    <input id="<%= f.object_name %>_submit" name="commit" onclick="document.getElementById('<%= f.object_name %>_state').value='public';" type="submit" value="公開" />
  <%end%>
  <%if @title.use_recognize%>
    <input id="<%= f.object_name %>_submit" name="commit" onclick="document.getElementById('<%= f.object_name %>_state').value='recognize';" type="submit" value="承認待ち" />
  <%end%>
  <input id="<%= f.object_name %>_submit" name="commit" onclick="document.getElementById('<%= f.object_name %>_state').value='draft';" type="submit" value="下書き保存" />
  <input id="<%= f.object_name %>_state" name="<%= f.object_name %>[state]" type="hidden" value="" />
</div>

<input type="hidden" name="title_id" value='<%="#{params[:title_id]}"%>' />
<input type="hidden" name="p_id" value='<%="#{params[:p_id]}"%>' />
<input type="hidden" name="limit" value='<%="#{params[:limit]}"%>' />
<input type="hidden" name="cat1" value='<%="#{params[:cat1]}"%>' />

<% end %>