<%= render :partial => 'pref/admin/header' %>

<div class="menu">
<p>地域</p>
<%= link_to '登録', new_pref_area_path %>
<%= link_to '編集', pref_areas_path %>
</div>

<div class="navi">
<%= link_to 'ルート', url_for(:action => :index, :parent => 0) %>
<% tree = @parent.parent_tree; tree.each_with_index do |c, k|
%> &gt; <%=link_to c.title, url_for(:action => :index, :parent => c )
%><% end %>
</div>
