<div style="margin-bottom: 10px;">
<%= link_to "TOP", system_ldap_groups_path(0) %>
<% if @parent %>
&gt;&gt; <%= link_to @parent, system_ldap_groups_path(@parent) %>
<% end %>
</div>

<table class="index">
  
  <tr>
    <% if @parent %>
    <th style="width: 60px; text-align: center;">Users</th>
    <% else %>
    <th style="width: 60px; text-align: center;">Open</th>
    <% end %>
    <th style="width: 30%;">Cn</th>
    <th style="width: ;">Dn</th>
  </tr>
  
  <%# for item in @items %>
  <%# item.map{|g| [:keys=>g.ou , :values=>g.dn] } %>
  <% @items.each do |keys ,values| %>
  <tr <%= cycle '', 'class="cycle"' %>>
    <% if @parent %>
    <td style="text-align: center;">
        <%#=link_to 'ユーザー', system_ldap_users_path(item[1]['ou']) %>
        <%=link_to 'ユーザー', system_ldap_users_path(keys) %>
    </td>
    <td>
        <%#= item[1]['cn'][0] %>
        <%= keys %>
    </td>
    <% else %>
    <td style="text-align: center;">
        <%#= link_to '展開', system_ldap_groups_path(item[1]['ou']) unless @parent %>
        <%= link_to '展開', system_ldap_groups_path(keys) unless @parent %>
    </td>
    <td>
        <%#= item[1]['ou'] %>
        <%= keys %>
    </td>
    <% end %>
    <td>
        <%#=h item[0] %>
        <%=h values %>
    </td>
  </tr>
  <% end %>

</table>

<%#= paginate @items %>
