<%# app/views/system/admin/group_changes/index.html %>
<%
runs = "未実行"
runs = @item.updated_at.strftime("%Y-%m-%d %H:%M") unless @item.blank?
# 対象データ数算出
c1  = System::GroupUpdate.count(:all,:conditions=>"state='1'")
c2  = System::GroupUpdate.count(:all,:conditions=>"state='2'")
c3  = System::GroupUpdate.count(:all,:conditions=>"state='3'")
c6  = System::GroupUpdate.count(:all,:conditions=>"state='6'")
-%>
<br />
<div>
組織変更情報を、作業用データに反映します。
再実行の場合は、初期データに戻してから、引継情報を反映します。
</div>
<br />
<div>
  前回実行日　<%= h runs %>
</div>
<br />
<div>
<table class="show">
<tr><th>変更区分</th><td>対象データ数</td></tr>
<tr><th>名称変更</th><td><%= c1 %></td></tr>
<tr><th>新設</th><td><%= c2 %></td></tr>
<tr><th>廃止</th><td><%= c3 %></td></tr>
<tr><th>変更なし</th><td><%= c6 %></td></tr>
</table>
</div>
<br />
<div class="showMenu">
  <%= link_to '実行' ,reflects_run_system_group_changes_path ,:confirm=>"この処理には時間がかかります。よろしいですか？",:method=>:get -%>
</div>
