<%
  case @mode
  when :admin
    uri = '/_admin/login'
  when :public
    uri = '/login'
  else
    raise Gw::SystemError
  end
%>
<div id="login">
&nbsp;
</div>
<div class="login_box">
<% form_tag uri do -%>
<%= hidden_field_tag :url, h(params[:url]) %>
<div class="box">
<h1>Joruri</h1>
<%#= div_notice if flash[:notice] %>
<%= div_notice %>
<div class="show">
ユーザID　　<%= text_field_tag 'account', '' %><br />
<br style="line-height: 0.8;" />
パスワード　<%= password_field_tag 'password', '' %><br />
</div>
<div class="submitters">
<input class="login" type="image" src="/_common/images/blank.gif" alt="ログイン" value="" name="commit" />
</div>
</div>
<% end -%>
</div>
<div class="copyright">Powered by Joruri</div>
<%= set_focus_to_id 'account' %>
