<%#*<p>Find me in app/views/gwsub/public/sb01/sb01_training_schedule_conditions/edit.html.erb</p>%>
<%
@edit_path = "#{Site.current_node.public_uri}#{@item.id}?t_id=#{@item.training_id}"
@action = "edit"
-%>
<div class="gwsub sb01">
<div class="pieceHeader">
<h2>研修申込・受付</h2>
</div>
<div class="pieceBanner">
<%= render :partial => 'gwsub/public/sb01/sb01_training_plans/menu' %>
</div>
<div class="pieceBody">
<%= render :partial => 'gwsub/public/sb01/sb01_training_schedule_conditions/form_training_show' %>
<%#= render :partial => 'gwsub/public/sb01/sb01_training_plans/upload_index' %>
<%= div_notice %>
<br/>
<% form_for :item, :url => @edit_path ,:action=>:update, :html => {:method => :put, :multipart => true, :class=>'leftSide'} do |f| %>
  <%= render :partial => 'form_edit', :locals => {:f => f} %>
<% end %>
<div class="btReturn">
  <%= link_to '戻る', url_for("/gwsub/sb01/sb01_training_schedule_conditions/#{@item.id}?t_id=#{@item1.id}") %>
</div>
</div>
</div>