<%#*<p>Find me in app/views/gwsub/public/sb01/sb01_training_schedule_conditions/new.html.erb</p>%>
<%
@action = "create"
@create_path = "#{Site.current_node.public_uri}"
-%>
<div class="gwsub sb01">
<div class="pieceHeader">
<h2>研修申込・受付</h2>
</div>
<div class="pieceBanner">
<%= render :partial => 'gwsub/public/sb01/sb01_training_plans/menu' %>
</div>
<div class="pieceBody">
<br/>
<%= render :partial => 'gwsub/public/sb01/sb01_training_schedule_conditions/form_training_show' %>
<%#= render :partial => 'gwsub/public/sb01/sb01_training_plans/upload_index' %>
<%= div_notice %>
<% form_for :item, :url => @create_path ,:action=>:create ,:method=>:post , :html => {:multipart => true, :class=>'leftSide'} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end  %>
<div class="btReturn">
  <%= link_to '条件一覧に戻る' ,url_for("/gwsub/sb01/sb01_training_plans/#{@item1.id}")  -%>
</div>
</div>
</div>