<%# app/views/system/admin/group_histories/_form %>
<!-- 未設定　表示画面 入力 -->
<%= hidden_field_tag  'parent',@parent.id %>
<%= f.hidden_field  :parent_id ,:value=>@parent.id %>
<%= f.hidden_field  :level_no  ,:value=>@parent.level_no.to_i + 1 %>
<%= f.hidden_field  :ldap      ,:value=>@item.ldap %>
<%= required_head %>
<table class="show">
<tr>
<th>状況<%= required %></th><td><%=radio f, :state, @item.states, :class => 'state' %></td>
</tr>
<tr>
<th>コード<%= required %></th><td><%= f.text_field :code , :class => 'num name' %></td>
</tr>
<tr>
<th>名前<%= required %></th><td><%= f.text_field :name ,  :class => 'name' %></td>
</tr>
<tr>
<th>名前（英）</th><td><%= f.text_field :name_en , :class => 'name' %></td>
</tr>
<tr>
<th>適用開始日<%= required %></th>
<td><%= f.text_field :start_at ,:value => nil %>
<button type="button" id="start_at_bt" onclick="showCalendar('start_at_bt','<%= "#{f.object_name}_start_at" %>')" class="show_cal_bt"></button>
</td>
</tr>
<tr>
<th>適用終了日</th>
<td><%= f.text_field :end_at ,:value => nil %>
<button type="button" id="end_at_bt" onclick="showCalendar('end_at_bt','<%= "#{f.object_name}_end_at" %>')" class="show_cal_bt"></button>
</td>
</tr>
<tr>
<th>メールアドレス</th><td><%= f.text_field :email, :class => 'string email', :style => 'width: 400px;' %></td>
</tr>
<tr>
<th>LDAP同期状況</th><td><%= radio f, :ldap, @item.ldap ,:class => 'state' %></td>
</tr>
</table>
<%= gw_js_include_full %>
