<%# app/views/system/admin/group_histories/_menu.html %>
<%#= render :partial => 'system/admin/header2' %>
<div class="menu">
<p>組織変更</p>
<%= link_to '登録', new_system_group_history_path  if @parent.level_no < Site.max_level.to_i %>
<%= link_to '一覧', system_group_histories_path(0)%>
<%= link_to '最新抽出', system_group_histories_path(0)+'?do=current'%>
<%= link_to 'CSV出力', csvput_system_group_histories_path(0) %>
<%= link_to 'CSV登録', csvup_system_group_histories_path(0)   if @parent.level_no < Site.max_level.to_i %>
<%= link_to 'CSV追加', csvadd_system_group_histories_path(0)  if @parent.level_no < Site.max_level.to_i %>
</div>
<div class="navi">
<% tree = @parent.parent_tree; tree.each_with_index do |c, k|
%><%=link_to c.name, url_for(:action => :index, :parent => c )
%> <% if tree.size != k + 1 %>&gt;<% end %>
<% end %>
</div>
