<%# app/views/system/admin/group_histories/index.html %>

<div class="indexTabs">
<span>グループ</span>
<%=link_to 'ユーザー', system_users_group_histories_path(@parent) %>
</div>

<table class="index">

<tr>
<th style="width: 60px; text-align: center;">Open</th>
<th style="width: 60px; text-align: center;">Show</th>
<th style="width: 60px; text-align: right;">Code</th>
    <th >Name</th>
<th >Email</th>
<th >Start_at</th>
<th >End_at</th>
<th >Ldap</th>
<th style="width: 60px; text-align: center;">Status</th>
</tr>

<%
for item in @items 
  next if System::GroupHistory.usable?(item.id,nil) == false
%>
<tr <%= cycle '', 'class="cycle"' %>>
<td style="text-align: center;"><%= link_to_list item %></td>
<td style="text-align: center;"><%= link_to_show item %></td>
<td style="text-align: right;"><%=h item.code %><%#=h item.id %></td>
<td><%=h item.name %></td>
<td><%=h item.email %></td>
<td><%=h Gw.date_str(item.start_at) %></td>
<td><%=h Gw.date_str(item.end_at) %></td>
<td><%=h System::GroupHistory.ldap_show(item.ldap) %></td>
<td style="text-align: center;"><%= item.status.name %></td>
</tr>
<% end %>

</table>

<%= paginate @items %>
