<% form_for :item, :url => {:action => :create}, :html => {:multipart => true} do |f| %>
<%

current_css = 'style="color: #333; font-weight: bold; text-decoration: none;"'
css = {}
case params[:input_mode]
when 'h'
  css[:h]   = current_css
  view_file = 'form_import_html'
when 'u'
  css[:u]   = current_css
  view_file = 'form_import_url'
else
  css[:n]   = current_css
  view_file = 'form'
end

%><div>
  <a href="?" <%= css[:n] %>>標準入力</a>
  &nbsp; <a href="?input_mode=h" <%= css[:h] %>>HTMLインポート</a>
  &nbsp; <a href="?input_mode=u" <%= css[:u] %>>URLインポート</a>
</div>

<%= f.error_messages %>
<%= render :partial => view_file, :locals => {:f => f} %>
<%= submit_for_create f %>
<% end %>
