<style type="text/css">
html {
  overflow-x: hidden;
}
</style><%
  _path = './files/'
  _form_id = 'item_body'

%><%#= render :partial => 'header' %>

<% form_for :item, :url => {:action => :create}, :html => {:multipart => true} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f, :submit_label => "アップロード"} %>

<% end %>

<base href="<%= Site.uri(:protocol => true) %>_admin/cms/<%= params[:parent] %>/files/">
<script type="text/javascript">
//<![CDATA[
  function mceInsertContent(value) {
    parent.tinyMCE.execInstanceCommand('<%= _form_id %>','mceInsertContent',true, value);
  }

  function selectAction() {
  	var filesForm = document.filesForm;
    var selectFile;
  	for(i=0; i < filesForm.elements.s_item.length; i++) {
			if(filesForm.elements.s_item[i].checked == true){ 
        var element = document.getElementById("link_attach" + filesForm.elements.s_item[i].value);
        alert(element.getAttribute("onclick"));
			}
  	}
  }
//]]>
</script>
<div style="height:210px; overflow:auto; _margin-right:18px; margin-top:5px; padding:0px; border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;">
<table class="list" style="margin-rigth:18px;margin-bottom:0px;">
  
  <tr>
<!--
    <th style="width: 30px; text-align: center;">選択</th>
-->
    <th style="width: 100px; text-align: center;">ファイル</th>
    <th style="width: 40px; text-align: center;">設定</th>
    <th>添付ファイル</th>
    <th style="width: 100px; text-align: center;">サイズ（幅x高さ）</th>
    <th style="width: 40px; text-align: center;">添付</th>
    <th style="width: 100px; text-align: center;">画像の貼り付け</th>
    <th style="width: 40px; text-align: center;">編集</th>
    <th style="width: 40px; text-align: center;">削除</th>
  </tr>
  
  <% for item in @items %>
  <tr>
    <td style="text-align: center;">
      <% if item.image? %>
        <img src="<%= File.dirname(url_for(:action => :show, :id => item)) + "/files/#{item.name}" %>"
          style="<%= item.reduced_size(:width => 80, :height => 40, :output => :css) %>" />
      <% end %>
    </td>
    <td style="text-align: center;"><%= link_to '詳細', url_for(:action => :show, :id => item) %></td>
    <td><%= link_to h(item.united_name), _path + item.escaped_name, :class => item.css_class, :target => :blank %></td>
    <td style="text-align: center;"><%= item.eng_unit %>
      <%= '<br />（' + item.image_width.to_s + ' x ' + item.image_height.to_s + '）' if item.image? %></td>
    <td style="text-align: center;">
        <%= link_to '添付', '#', :id => "link_attach#{item.id}", :onclick => "mceInsertContent('<a href=" + _path + item.escaped_name + " class=\"" + item.css_class + "\">" + h(item.united_name) + "</a>'); return false;" %>
    </td>
    <td style="text-align: center;">
      <% if item.image? %>
        <a href="#" id="link_image#{item.id}" onclick="mceInsertContent('<img src=\'<%= _path + item.escaped_name %>\' alt=\'<%= item.alt %>\'>'); return false;">貼付</a>
      <% end %>
    </td>
    <td style="text-align: center;"><%= link_to_edit item %></td>
    <td style="text-align: center;"><%= link_to_destroy item %></td>
  </tr>
  <% end %>

</table>
</div>

<%= paginate @items %>
