<%# app/views/system/public/role_name_privs/index.html.erb -%>
<div class="piece AdminMessage">
<%= render :partial => 'header' -%>
<div class="pieceBody">
<div class="editingBox">
  <span class="btNew"><%= link_to '新規作成', url_for(Site.current_node.public_uri + "new" + @params_set) -%></span>
  <span class="docLink"><%= link_to '管理者権限設定', "/system/roles" -%></span>
</div>
<%= render :partial => 'search' -%>
<%= show_notice -%>

<% if @items.blank? -%>
  <%= Gw.div_notice('表示する項目はありません。') -%>
<% else -%>
  <table class="index">
    <tbody>
      <tr>
        <th style="width: 60px;"></th>
        <th>機能名</th>
        <th>権限名</th>
      </tr>
  <% for item in @items -%>
  <tr <%= cycle '', 'class="cycle"' -%>>
    <td style="text-align: center;"><%= link_to '詳細', Site.current_node.public_uri + item.id.to_s + @params_set -%></td>
    <td><%=h item.role.display_name -%></td>
    <td><%=h item.priv.display_name -%></td>
  </tr>
  <% end -%>
  </tbody>
  </table>
<% end %>
  
<br/>
<%= paginate @items -%>
<br/>
</div>
</div>