<div class="bbsDocList circular">
<div class="pieceHeader">
<h2 class="pieceTitle"><%=@system_title%></h2>
<div class="btsHeaderLeft"><span class="btNew"><%=link_to('新規作成', "#{@system_path}/new")%></span></div>
</div>
<div class="pieceBody">
<%= render :partial => 'header' %>

<%if params[:cond]=='result'%>

<table class="index">
<tr>
<th style="width: 60px;">状態</th>
<th style="width: 50px;">形式</th>
<th>タイトル</th>
<th style="width: 200px;">作成者</th>
<th style="width: 120px;">アンケート終了日時</th>
</tr>
<%for item in @items%>
 <tr <%= cycle 'class="article"', 'class="article cycle"' %>>
 <td style="width:60px;"><%=item.state_name%></td>
 <td style="width:50px;"><%=item.enquete_division_state_name%></td>
 <td><%=link_to(item.title, "#{item.result_monitor_path}?cond=result")%></td>
 <td><%="#{item.createrdivision}"%></td>
 <td><%=item.display_expiry_date%></td>
 </tr>
<%end%>
</table>

<%else%>

<table class="index">
<tr>
<th style="width: 60px; text-align: center;">状態</th>
<th>タイトル</th>

<%if @is_sysadm%>
<th style="width: 180px;">作成者</th>
<%end%>

<th style="width: 40px; text-align: center;">設問</th>
<th style="width: 120px; text-align: center;" colspan="2">回答確認</th>
<th style="width: 40px; text-align: center;">CSV</th>
<th style="width: 80px; text-align: center;">テンプレート</th>
<th style="width: 120px;">最終更新日</th>
</tr>
<%for item in @items %>
<tr <%= cycle '', 'class="cycle"' %>>
<td style="text-align: center;"><%=item.state_name%></td>
<td style="text-align: left;"><%=link_to(item.manage_title,"#{item.show_path}") %></td>

<%if @is_sysadm%>
 <td><%="#{item.createrdivision}"%></td>
<%end%>

<td style="text-align: center;"><%= link_to '登録', item.form_field_path %></td>
<td style="text-align: center;"><%= link_to "#{item.answer_count_name}", item.result_path %></td>
<td style="text-align: center;"><%= link_to '集計', item.answer_to_details_path %></td>
<td style="text-align: center;"><%= link_to '出力', item.csv_export_path %></td>
<td style="text-align: center;"><%= link_to '作成', item.new_template_base_path(params[:cond]) %></td>
<td style="text-align: left;"><%=item.updated_at.strftime('%Y-%m-%d %H:%M')%></td>
</tr>
<%end %>
</table>

<%end%>

<%= paginate @items %>
</div>
</div>