<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<%
if request.mobile?
  if request.mobile.smartphone?
    div_id = "smartPhoneContainer"
  else
    div_id="container"
  end
else
  #encoding_str = "UTF-8"
  div_id = nil
end
case request.mobile
when Jpmobile::Mobile::Docomo
  encoding_str = "UTF-8"
  title = Page.window_title
when Jpmobile::Mobile::Au
  encoding_str = "Shift-JIS"
  title = NKF.nkf('-m0 -x '+'-Ws', Page.window_title)
when Jpmobile::Mobile::Softbank
  encoding_str = "UTF-8"
  title = Page.window_title
when Jpmobile::Mobile::Willcom
  encoding_str = "UTF-8"
  title = Page.window_title
else
  encoding_str = "UTF-8"
  title = Page.window_title
end

%>
<meta http-equiv="content-type" content="text/html;charset=<%=encoding_str%>" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><%= title %></title>
<%
if request.mobile?
if request.mobile.smartphone?
@js = %w(prototype prettyprint gw effects gw_schedules yui/build/yahoo-dom-event/yahoo-dom-event).collect{|x| "/_common/js/#{x}.js"} +
  %w(yahoo connection treeview datasource dom event container menu).collect{|x| "/_common/js/yui/build/#{x}/#{x}-min.js"} +
  %w(calendar_date_select format_db locale/ja).collect{|x| "/javascripts/calendar_date_select/#{x}.js"} +
  nz(@js, [])
concat <<-EOL
#{ret='';@js.each{|x|ret+=javascript_include_tag(x)+"\n"};ret}
EOL
end
concat <<-EOL
#{Page.layout.head_tag(true,request.mobile.smartphone?)}
EOL
else
# additional js/css from controllers
#= stylesheet_link_tag '/_common/themes/admin/style'

@js = %w(prototype prettyprint gw effects gw_schedules yui/build/yahoo-dom-event/yahoo-dom-event).collect{|x| "/_common/js/#{x}.js"} +
  %w(yahoo connection treeview datasource dom event container menu).collect{|x| "/_common/js/yui/build/#{x}/#{x}-min.js"} +
  %w(calendar_date_select format_db locale/ja).collect{|x| "/javascripts/calendar_date_select/#{x}.js"} +
  nz(@js, [])
@css = %w(/stylesheets/calendar_date_select/default.css /_common/js/yui/build/fonts/fonts-min.css /_common/js/popup_calendar/popup_calendar) +
  %w(calendar menu).collect{|x| "/_common/js/yui/build/#{x}/assets/#{x}.css"} +
  %w(container calendar button treeview).collect{|x| "/_common/js/yui/build/#{x}/assets/skins/sam/#{x}.css"} +
  nz(@css, [])
# calendar_date_select で可能な css => %w(blue default plain red silver)
@meta_raw = nz(@meta_raw, [])
concat <<-EOL
#{Page.layout.head_tag(false)}
#{ret='';@meta_raw.each{|x|ret+=x+"\n"};ret}
#{ret='';@js.each{|x|ret+=javascript_include_tag(x)+"\n"};ret}
#{ret='';@css.each{|x|ret+=stylesheet_link_tag(x, :media=>:all)+"\n"};ret}
#{@js_raw.nil? ? '' : %Q(<script type="text/javascript"><!--#{@js_raw}--></script>)}
#{@css_raw.nil? ? '' : %Q(<style type="text/css"><!--#{@css_raw}--></style>)}
EOL
end

%>
</head>
<body<%= ' id="' + Page.css_id + '"' if Page.css_id %>>
<%=%Q(<div id="#{div_id}">) unless div_id.blank?%>
<%= yield %>
<%=%Q(</div>) unless div_id.blank?%>
</body>
</html>
